.floating {
  max-width: 250px;
  margin: 2em auto;
}

.floating img {
  width: 200px;
}

@media (width >= 700px) {
  .floating {
    text-align: right;
    float: right;
    margin: 0 0 0 3em;
  }
}

@media (width >= 900px) {
  .floating {
    margin-right: -4em;
  }
}

article > h4:has(a) {
  color: var(--gray);
  margin-top: 3em;
  font-size: 85%;
  font-weight: 400;
}

article > h4:has(a) a {
  color: var(--main);
  margin: .4em 0 0;
  font-size: 115%;
  font-weight: 600;
  display: block;
}

article > h4:has(a) a:hover {
  text-underline-offset: 3px;
  text-decoration: underline;
  text-decoration-color: var(--gray-300);
}

article ol li {
  margin: .3em 0;
}
