.live-code {
  --glow-special-color: #d946ef;
  background: linear-gradient(#d946ef, #c084fc);
  border-radius: .5em;
  padding: 2em 0 0 3em;

  & code {
    color: #786951;
  }

  & b {
    color: #e29439;
  }

  & em {
    color: #2aa1ff;
  }

  & [glow] {
    background-image: linear-gradient(335deg, #ddd, #fff 40%);
    border: 0;
    border-radius: 1em 0 .5em;
    padding: 3em 2em;
    box-shadow: inset 1px 1px 2px #666;
  }

  & mark {
    background-color: #f9e9ef;
    border-right: 2px solid #d946ef;
    border-radius: .3em 0 0 .3em;
    position: relative;

    &:after {
      content: "Caroline";
      color: #fff;
      background: #d946ef url("/img/emma-round.png") .5em / 1.4em no-repeat;
      border-radius: .3em .3em .3em 0;
      padding: .1em .6em .1em 2.3em;
      font-family: sf pro display;
      font-size: 90%;
      font-style: normal;
      font-weight: 500;
      position: absolute;
      top: -1.9em;
      left: 100%;
      box-shadow: 1px 1px 4px #ccc;
    }
  }

  & span:nth-child(3) mark {
    background-color: #faeae1;
    border-color: #ee8351;

    &:after {
      content: "Dave";
      background-color: #ee8351;
      background-image: url("/img/john-round.png");
    }
  }

  @media (width <= 500px) {
    & {
      padding: .5em;
      overflow-x: auto;
    }

    & [glow] {
      border-radius: .5em;
    }
  }
}
