
/* "0-" prefix places this first on the design system ( build.js) */

/* layer order */
@layer settings globals components theme;

/* external dependencies */
@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css") layer(components);


@layer settings {

  :root {

    /* grid whitespace */
    --grid-gap: 1em;

    /* slate gray palette */
    --base-50 : #F8FAFC;
    --base-100 : #F1F5F9;
    --base-200 : #E2E8F0;
    --base-300 : #CBD5E1;
    --base-400 : #94A3B8;
    --base-500 : #64748B;
    --base-600 : #475569;
    --base-700 : #334155;
    --base-800 : #1E293B;
    --base-900 : #0F172A;

    /* main and accent colors */
    --main-500: var(--base-800);
    --main-600: var(--base-900);

    --accent: #ff2121;
    --green: #47bf47;
    --red: #ff2121;
  }

}