.codeblock {
  position: relative;

  &:hover .copy { opacity: 0.75; }

  .copy {
    font-size: 0.75rem;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-flex;
    margin: 0.5rem;
    padding: 0.5rem;

    background: transparent;
    transition: opacity .25s;
    opacity: 0;

    &:is(:hover, :focus) { opacity: 1; }

    img {
      filter: invert(1);
      pointer-events: none;
    }

  }
}
