
.card, .note {
  > :first-child { margin-top: 0 }
  > :last-child { margin-bottom: 0 }
}

.grid {
  gap: 1.5em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  display: grid;
  margin: 3em 0;

  @media (max-width: 700px) {
    margin-inline: auto;
    max-width: 400px;
  }
}

.card {
  box-shadow: 0 0 2em #0001;
  border-radius: .5em;
  border: var(--border);
  padding: 1.5em;
  font-size: 95%;

  h3 {
    margin-bottom: -.5em;
  }


  &.clickable {
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 0 2px white, 0 0 0 4px var(--main-500);
    }
  }
}

.note {
  border-left: 4px solid var(--main-500);
  padding: .5em 1.2em;
  margin: 2em 0;

  > :first-child {
    background: url(/icon/info.svg) no-repeat;
    background-size: .9em;
    background-position: 0 center;
    padding-left: 1.2em;
    color: var(--main-600);
    margin: 0 0 .3em;
  }
}

.stack {
  display: flex;
  margin: 2em 0;
  gap: 1.5em;

  > * {
    flex: 1;
  }

  @media (max-width: 900px) {
    flex-direction: column;
    align-items: flex-start;
  }
}
