
/* https://uicolors.app/create  */

:root {

  /* main color */
  --main-50: #eff6ff;
  --main-100: #dbeafe;
  --main-200: #bfdbfe;
  --main-300: #93c5fd;
  --main-400: #60a5fa;
  --main-500: #3b82f6;
  --main-600: #2563eb;

  /*
    --main-700: #1d4ed8;
    --main-800: #1e40af;
    --main-900: #1e3a8a;
    --main-950: #172554;
  */

  /* slate gray  */
  --gray-50:  #f8fafc;
  --gray-100: #f1f5f9;
  --gray-200: #e2e8f0;
  --gray-300: #cbd5e1;
  --gray-400: #94a3b8;
  --gray-500: #64748b;
  --gray-600: #475569;
  --gray-700: #334155;
  --gray-800: #1e293b;
  --gray-900: #0f172a;
  --gray-950: #020617;



  /* accent colors */
  --red:      #fb7185;
  --pink:     #e200ff;
  --purple:   #9E52FF;
  --yellow:   #f5ff20;
  --green:    #06d4a1;

  /* syntax highlighting */
  --glow-bg-color: var(--gray-800);
  --glow-padding: 2em;


  /* used in fixed navigation bars */
  --body-padding: 1em 2.5em;

  /* shortcut */
  --border: 1px solid var(--gray-200);

}


@media (max-width: 600px) {
  :root {
    --body-padding: 1.2em;
  }
}

*, *::before, *::after {
  box-sizing: border-box
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  padding: var(--body-padding);
  font-family: system-ui;
  margin: 0;
}

main {
  min-height: 35vh;
  border-bottom: var(--border);
  padding-bottom: 7em;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  text-underline-offset: 3px;
  color: var(--main-500);
  font-weight: 550;

  &:hover {
    color: var(--main-600);
  }
}

::selection {
  background-color: var(--purple);
  color: white;
}

hr {
  border: var(--border);
  border-width: 1px 0 0;
}

h1, h2, h3, h4, h5 {
  color: var(--gray-900);
}

article {
  view-transition-name: article
}

/* view transition (scales down the old page) */
::view-transition-old(article) {
  transform: scale(.8);
  transition: .4s;
}
