
*, *::before, *::after {
  box-sizing: border-box
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  padding: var(--body-padding);
  font-family: system-ui;
  margin: 0;
}

main {
  min-height: 35vh;
  border-bottom: var(--border);
  padding-bottom: 7em;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  text-underline-offset: 3px;
  color: var(--main-500);
  font-weight: 550;

  &:hover {
    color: var(--main-600);
  }
}

::selection {
  background-color: var(--yellow);
  color: var(--gray-900);
}

hr {
  border: var(--border);
  border-width: 1px 0 0;
}

h1, h2, h3, h4, h5 {
  color: var(--gray-900);
}


