
/* https://uicolors.app/create  */
:root {
  --gray-50:  #f4f8f9;
  --gray-100: #ebf3f4;
  --gray-200: #dbe7ea;
  --gray-300: #c5d7dc;
  --gray-400: #acc4cd;
  --gray-500: #97afbd;
  --gray-600: #8099ab;
  --gray-700: #657a8b;
  --gray-800: #5a6b79;
  --gray-900: #4c5963;
  --gray-950: #2c343a;


  --main-50: #f0f9ff;
  --main-100: #e0f2fe;
  --main-200: #bae6fd;
  --main-300: #7dd3fc;
  --main-400: #38bdf8;
  --main-500: #3E8DEF;
  --main-600: #0284c7;

  --red:      #ef4444;
  --pink:     #e200ff;
  --purple:   #A438ED;
  --yellow:   #f5ff20;


  /*
  --main-700: #0369a1;
  --main-800: #075985;
  --main-900: #0c4a6e;
  --main-950: #082f49;
  --warning:  #fb923c;
  --success:  #4ade80;
  --marker:   #facc15;
  */

}


/* variables */
:root {
  --section-gap: calc(4em + 2vw);
  --body-padding: 1em 2.5em;
  --border: 1px solid var(--gray-200);
}

@media (max-width: 600px) {
  :root {
    --body-padding: 1.2em;
  }
}


/* scale down the previous page */
::view-transition-old(root) {
  transform: scale(.8);
  transition: .4s;
}


*, *::before, *::after {
  box-sizing: border-box
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  padding: var(--body-padding);
  font-family: system-ui;
  margin: 0;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  text-underline-offset: 3px;
  color: var(--main-500);
  font-weight: 550;

  &:hover {
    color: var(--main-600);
  }
}

hr {
  border: var(--border);
  border-width: 1px 0 0;
}

h1, h2, h3, h4, h5 {
  color: var(--gray-950);
}