
*, *::before, *::after {
  box-sizing: border-box
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  padding: var(--body-padding);
  font-family: system-ui;
  margin: 0;

  @media (width < 900) { font-size: 15px }
  @media (width < 600) { font-size: 14px }

}

main {
  padding-bottom: 5rem;
  min-height: 35vh;
}

h1, h2, h3, h4, h5 {
  color: var(--gray-900);
  text-wrap: balance;
}

h3 {
  line-height: 1.5;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  text-underline-offset: 3px;
  color: var(--main-500);
  font-weight: 550;

  &:hover {
    color: var(--main-600);
  }
}

::selection {
  background-color: var(--main-600);
  color: white;
}

hr {
  border: var(--border);
  border-width: 1px 0 0;
}


/* definition list  */
dl {
  display: grid;
  grid-template-columns: .4fr 1fr;
  font-size: .95rem;
  gap: 1.5em;

  dt {
    font-weight: 500;
    line-height: 1.3;
    margin: .3em 0;
  }

  dd {
    margin: 0;
    p { margin-top: 0 }
  }
}

/* skip to main content button */
.skip {
  position: absolute;
  top: -100%;
  left: -100%;
  margin: 0.5em;

  &:focus {
    top: 0;
    left: 0;
  }
}

/* fix scrolling behind header */
article, h1 { scroll-margin-top: 1.75em; }
