
.card, .note {
  > :first-child { margin-top: 0 }
  > :last-child { margin-bottom: 0 }
}

.grid {
  gap: 1.5em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  display: grid;
  margin: 3em 0;

  @media (max-width: 700px) {
    margin-inline: auto;
    max-width: 400px;
  }
}

.card {
  box-shadow: 0 0 2em #0001;
  border-radius: .5em;
  border: var(--border);
  padding: 1.5em;
  font-size: 95%;

  h3 {
    margin-bottom: -.5em;
  }

  &:has(a) {
    cursor: pointer;
    a { display: none }

    &:hover {
      box-shadow: 0 0 0 2px white, 0 0 0 4px var(--main-500);
    }
  }
}

.stack {
  display: flex;
  margin: 2em 0;
  gap: 1.5em;

  > * {
    flex: 1;
  }

  @media (max-width: 900px) {
    flex-direction: column;
    align-items: flex-start;
  }
}
