
nav a {
  color: var(--gray-500);

  &:hover {
    color: var(--gray-950);
  }
}


/* global header */
body > header {
  margin-bottom: 5em;

  .nav-home {
    background-image: url(/img/logo.svg);
    background-size: cover;
    text-indent: -99em;
    width: 60px;
    height: 18px;
  }

  &, > * {
    align-items: center;
    display: flex;
    gap: 2em;
  }

  nav + nav {
    margin-left: auto;
    gap: 1em;
  }

  nav a {
    font-size: 85%;
    font-weight: 550;
    display: inline-flex;
  }

  [aria-selected] {
    text-decoration: var(--main-500) underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
    color: var(--gray-900);
    font-weight: 600;
  }

  .logo:hover {
    transform: scale(1.03);
  }

  .social {
    background: url(/icon/twitter.svg) left no-repeat;
    background-size: 1.2em;
    padding-left: 1.4rem;
    color: var(--gray-800);

    &:hover {
      transform: scale(1.005);
      color: black;
    }
  }

  /* separator */
  hr {
    border-width: 0 1px 0 0;
    height: 1.1em;
  }

  /* burger menu opener */
  button {
    margin-left: auto;
    display: none;
  }

  @media (width < 800px) {
    > * { display: none }
    button { display: inline-block }
    nav:first-child {
      display: flex;

      @media (width < 600) {
        gap: .75rem;
        a:not(.nav-home, .pill) { display: none }
      }
    }
  }
}

.pill {
  background: var(--gray-50) url(/icon/cube.svg) .6em 50% no-repeat;
  padding: .6em 1em .6em 2.7em;
  background-size: 1.5em;
  color: var(--gray-600);
  font-weight: 550;
  border-radius: 9em;
  font-size: 80%;

  &:hover {
    box-shadow: 0 0 0 1px var(--gray-400);
  }

  &:active {
    transform: scale(.97);
  }

  &.github {
    background-image: url(/icon/github.svg);
  }

  &[aria-selected] {
    display: none;
  }
}

/* global footer */
body > footer {
  text-align: center;
  padding: 2rem 0 5rem;

  img {
    width: 50px;
  }

  nav {
    display: inline-flex;
    margin-block: 1rem;
    font-size: .9rem;
    gap: 2rem;

    @media (width < 600) {
      flex-direction: column;
      gap: 1.5rem;
    }
  }

}


