
nav a {
  color: var(--gray-500);

  &:hover {
    color: var(--gray-950);
  }
}


/* global header */
body > header {
  margin-bottom: 5em;

  .nav-home {
    background: url(/img/logomark-big.png) no-repeat;
    background-size: contain;
    text-indent: -99em;
    width: 4.5rem;
    height: 1.7rem;
  }

  &, > * {
    align-items: center;
    display: flex;
    gap: 2em;
  }

  nav + nav {
    margin-left: auto;
    gap: 1em;
  }

  nav a {
    font-size: 85%;
    font-weight: 550;
    display: inline-flex;
  }

  [aria-current] {
    text-decoration: var(--main-500) underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
    color: var(--gray-900);
    font-weight: 600;
  }

  .logo:hover {
    transform: scale(1.03);
  }

  .slack {
    background: url(/icon/slack.svg) left no-repeat;
    background-size: 1.2em;
    padding-left: 1.3rem;
    color: var(--gray-700);

    &:hover {
      text-decoration-color: var(--gray-400) !important;
      text-decoration: underline;
      color: var(--gray-900);
    }
  }

  /* separator */
  hr {
    border-width: 0 1px 0 0;
    height: 1.1em;
  }

  /* burger menu opener */
  button {
    margin-left: auto;
    display: none;
  }

  @media (width < 800px) {
    > * { display: none }
    button { display: inline-block }
    nav:first-child {
      display: flex;

      @media (width < 650) {
        gap: .75rem;
        a:not(.nav-home, .pill) { display: none }
      }
    }
  }
  @media (width < 500) {
    .pill { display: none }
  }
}

.pill {
  background: var(--main-50) url(/icon/cube.svg) .9em 50% no-repeat;
  padding: .6em 1em .6em 2.7em;
  background-size: 1.5em;
  color: var(--gray-600);
  font-weight: 450;
  border-radius: 9em;
  font-size: .8em;

  em {
    font-style: normal;
    color: var(--main-600);
    margin-right: .3em;
    font-weight: 600;
  }

  &:hover {
    transform: scale(1.005);
    color: var(--gray-900);
  }

  &:active {
    transform: scale(.97);
  }

  &.github {
    background-image: url(/icon/github.svg);
  }

  &[aria-current] {
    display: none;
  }
}

/* global footer */
body > footer {
  text-align: center;
  padding: 2rem 0 5rem;
  border-top: var(--border);

  img {
    width: 50px;
  }

  nav {
    display: inline-flex;
    margin-block: 1rem;
    font-size: .9rem;
    gap: 2rem;

    @media (width < 600) {
      flex-direction: column;
      gap: 1.5rem;
    }
  }

}


