
/* burger menus, dialogs, sidebars, ... */
[popover] {
  transition: opacity .8s, transform .2s;
  transform: scale(1);
  opacity: 1;
  border: 0;

  &::backdrop {
    background-color: #0005;
    backdrop-filter: blur(4px);
    transition: .5s;
  }

  @starting-style {
    transform: scale(.9);
    opacity: 0;

    &::backdrop {
      background-color: #0001;
      backdrop-filter: blur(0);
    }
  }

  > .action:first-child {
    position: absolute;
    right: .5em;
    top: .5em;
  }
}


dialog {
  position: fixed; left: inherit; top: 1em; right: 1em;
  transition: opacity .1s;
  border-radius: .5em;
  padding: 1em 2em;
  min-width: 14em;
  display: none;
  margin: 0;

  nav a {
    display: block;
    padding: .8em 0;
    font-weight: bold;
  }

  /* toggle visibility */
  &:popover-open {
    display: block;
    z-index: 1;
  }
}


.simple-compare {
  max-width: 980px;
  margin: 0 auto;
  gap: 1.5rem;
  inset: .75rem;

  &:popover-open {
    display: flex;
  }


  h2 {
    margin: .5em 0 0;
    + p { margin-block: .3em }
    a { display: none }
  }
  > * {
    flex: 1
  }

  .action {
    position: absolute;
    top: .5em;
    right: .5em;
    figure { margin: 0 }
  }

  @media(width < 900) {
    max-height: 96vh;
    flex-direction: column;
    h3 span { display: none }
  }

}


#resources {
  max-width: 1130px;
}
