
:root {

  /* main color */
  --main-50: #eff6ff;
  --main-100: #dbeafe;
  --main-200: #bfdbfe;
  --main-300: #93c5fd;
  --main-400: #60a5fa;
  --main-500: #3b82f6;
  --main-600: #2563eb;

  /* slate gray  */
  --gray-50:  #f8fafc;
  --gray-100: #f1f5f9;
  --gray-200: #e2e8f0;
  --gray-300: #cbd5e1;
  --gray-400: #94a3b8;
  --gray-500: #616d7e;
  --gray-600: #475569;
  --gray-700: #334155;
  --gray-800: #1e293b;
  --gray-900: #0f172a;
  --gray-950: #020617;


  /* accent colors */
  --red:      #fb7185;
  --pink:     #e200ff;
  --purple:   #9E52FF;
  --yellow:   #f7ff4f;
  --green:    #06d4a1;

  /* syntax highlighting */
  --glow-bg-color: var(--gray-800);
  --glow-padding: 2em;

  /* page padding */
  --body-padding: 1em 2.5em;

  /* shortcut */
  --border: 1px solid var(--gray-200);
}


@media (width <= 600px) {
  :root { --body-padding: 1.2em; }
}

