
.showroom {
  background-color: var(--gray-100);
  padding: 3%;
  left: 1em;
  max-height: calc(100vh - 2em);
  overflow: hidden;

  h2 {
    margin: 0;
    font-weight: 600;
    font-size: 1.7em;
    letter-spacing: -0.02em;
  }
  nav {
    margin-left: auto;
    gap: 1em;

    a {
      border: var(--border);
      background-color: white;
      border-radius: 4px;
      display: block;
      outline-offset: 2px;
      width: 1.9em;
      height: 1.9em;
      padding: .3em;

      &:hover {
        border-color: var(--gray-300);
        outline: 1px solid var(--main-400);
      }
    }
  }

  .stack {
    opacity: 1;

    &.seeking {
      transition: .3s;
      opacity: 0;
    }
  }

  figure {
    background-color: white;
    border-radius: 6px;
    border: var(--border);
    max-height: calc(100vh - 14em);
    overflow: scroll;
    padding: 2%;
  }
  h3 {
    font-size: 1.1em;
    font-weight: 500;
    gap: .3em;
    .pill {
      margin-left: auto;
      background-color: white;
    }
  }
}