
@layer app {

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-block: 2em 4em;
    display: grid;
    gap: 4em 3em;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        h3 {
          text-decoration: underline;
          text-underline-offset: .25em;
          text-decoration-color: #aaa;
        }
      }
    }

    figure {
      margin-bottom: 1em;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 250px;
    }

    /* description, max 2 lines */
    p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      max-width: 30em;
      overflow: clip;
      opacity: .75;
      margin: 0;
    }
  }

  .entry-list {
    p {
      margin-block: .5em;
      grid-template-columns: 7.5em 1fr;
      display: grid;
    }
    a {
      font-weight: 500;
      color: inherit;
    }
  }

  .blog-entry {

    article {
      max-width: 700px;
      margin-inline: auto;

      header {
        margin-block: 1.5em;
      }

      figure:first-of-type {
        view-transition-name: active-image
      }

    }

    h1 + p {
      font-size: 1.125em;
      text-wrap: pretty;
    }

    h2 {
      margin-block: 3em .75em;
    }

    h3 {
      margin-block: 2.5em .5em;
    }
  }

    /* doc specific components */
  .note {
    background-color: #f5f5f5;
    padding: 1em 1.5em;
    margin-block: 2em;
    > * { margin-block: .25em }
  }
}