
/* dark background animation */
body {
  background-image: url(/home/img/bg-animation.svg);
  background-repeat: no-repeat;
  background-size: 100% 600px;
}

main {
  text-align: center;
  text-wrap: balance;
  max-width: 1150px;
  margin: 0 auto;
}

/* dark version of the global header */
body > header {
  margin-bottom: calc(5rem + 8vw);

  a {
    color: #fffb;
    &:hover { color: white }
  }


  .logo { filter: brightness(10) }
  hr { border-color: #fff4 }

  /* burger menu trigger */
  [popovertarget] {
    filter: invert(1);

    &:hover {
      background-color: #9999;
    }
  }

  /* badges */
  .badge {
    &.status {
      background-color: var(--gray-950);
      border-color: transparent;
      color: white;
      &:hover { background-color: black }
    }

    &.github {
      border-color: transparent;
      background-color: var(--main-500);
      background-image: url(/icon/github-white.svg);
      &:hover { background-color: var(--main-600) }

      em {
        background-color: #0004;
        color: #fffc;
      }
    }
  }
}

@media (min-width: 1200px) {
  body {
    background-size: 100% 100vh;
  }

  .hero {
    height: calc(100vh - 10em);
  }
}







