
.features {
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  margin-bottom: 8em;
  display: grid;
  gap: 25px;

  figure + p { display: none }

  > div {
    grid-column: auto / span 2;
    border-radius: 1em;
    padding: 1.5em 3em 0;
    overflow: hidden;
    cursor: pointer;
    height: 438px;

    &:hover {
      box-shadow: 0 0 0 5px var(--gray-200);
    }

    &:active {
      transform: scale(.995);
    }
  }

  > :first-child {
    border: 1px solid #eee;
    grid-column: auto / span 3;
    img {
      transform: scale(1.18) translateY(1em)
    }
  }

  > :nth-child(2) {
    background-color: var(--purple);
    padding-right: 0;
    h3 { color: white }
    h3 + p { color: #fff9; margin-bottom: 2em }
    img {
      box-shadow: -1em -1em 1em #0002;
      margin-bottom: -3em;
    }
  }

  > :nth-child(3) {
    height: auto;
    background: linear-gradient(#f9f9f9, #eee);
    img {
      transform: scale(1.1) translateY(.8em);
    }
  }

  > :last-child {
    height: auto;
    grid-column: auto / span 3;
    border: 1px solid #eee;
    border-width: 0 1px 1px 0;
    background: linear-gradient(#fff, #f9f9f9);
    padding-bottom: 3em;
    p { margin-bottom: 2em; }
  }

  @media (min-width: 1300px) {
    margin-inline: -3em;
  }

  /* mobile layout */
  @media (max-width: 1100px) {
    flex-direction: column;
    display: flex;
    gap: 3em;

    > div {
      height: auto !important;
      max-width: 500px;
    }

    > :first-child  { max-width: 790px }
    > :nth-child(3) { height: 300px }
    > :nth-child(4) { max-width: 600px }
  }
}


/* initial state for all content elements */
.feature-area > * {
  transform: translateY(1.5rem);
  transition: .5s;
  opacity: 0;

  &:nth-child(2) { transition-delay: .2s }
  &:nth-child(3) { transition-delay: .4s }
  /*  &:nth-child(4) { transition-delay: .7s }*/
  /*  &:nth-child(5) { transition-delay: .8s }*/
}


/* trigger animation when in viewport  */
.in-viewport > * {
  transform: translate(0);
  opacity: 1;
}

