


h1 {
  font-size: 3.6em;
  line-height: 1.2;
  font-weight: 100;
  margin: 0;

  > * {
    font-weight: 900;
    font-style: normal;
    color:var(--gray-700);
    letter-spacing: -.03em;
  }

  /* subtitle */
  + p {
    text-wrap: balance;
    font-size: 1.2em;
    line-height: 1.5;
    margin: .75em 0 1.5em;

    /* makes things */
    strong:after {
      color: var(--main-500);
      content: "!!";
    }

    /* fun */
    b {
      position: relative;
      font-weight: inherit;

      &:after {
        content: "";
        position: absolute; left: 0; right: 0; bottom: -.5em;
        height: .5em;
        background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%233b82f6' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        background-size: auto 100%;
        background-repeat: round;
      }
    }
  }


  /* design */
  em {
    border: 1px solid var(--gray-300);
    padding-right: .05em;
    position: relative;
    margin-right: -.1em;

    &:before {
      background: url(/img/corner.svg) no-repeat,
        url(/img/corner.svg) top right no-repeat,
        url(/img/corner.svg) bottom right no-repeat,
        url(/img/corner.svg) bottom left no-repeat;

      content: "";
      position: absolute;
      left: -4px;
      top: -4px;
      width: calc(100% + 8px);
      height: calc(100% + 8.5px);
    }

    letter-spacing: -.03em;
    transition: letter-spacing 1s .2s;
    display: inline-block;
    animation: letter-spacing ease-in-out 1.5s;

    &::selection { background-color: var(--gray-600) }
  }

  /* engineering */
  strong {
    font-weight: 900;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      background: url(/img/dotlines.svg) no-repeat;
      background-size: cover;
      width: 2.5em;
      height: 1.4em;
      top: 0.65em;
      left: 2.38em;
      opacity: .7;
      z-index: -1;
      @media (width < 900px) { display: none }
    }
  }

}

@keyframes letter-spacing {
  0% { letter-spacing: .05em; }
  30% { letter-spacing: -.1em; }
  50% { letter-spacing: 0em; }
  75% { letter-spacing: .1em; }
  90% { letter-spacing: inherit; }
}