
body > header {
  margin-bottom: 2rem;
}

.hero {
  background-image: linear-gradient(45deg, var(--gray-900), var(--gray-800));
  border-radius: 1em;
  padding: 6em 7.5em;
  outline: 1px solid var(--gray-300);
  outline-offset: 5px;

  p { color: var(--gray-400) }
  h2, strong { color: var(--gray-100) }
  [role] { font-size: 1.1em }
}

h1 {
  text-transform: uppercase;
  letter-spacing: -0.02em;
  font-weight: 900;
  font-size: 4.5em;
  line-height: 1.1;
  color: white;
  margin: 0;
  + p {
    font-size: 1.48em;
    margin-bottom: 1.5em;
  }
}

.stats {
  margin-block: 5em;
  display: flex;
  gap: 7.5em;

  > * {
    padding-top: 1em;
    border-top: 1px solid var(--gray-600);
  }

  h2 {
    letter-spacing: -0.02em;
    font-size: 2.5em;
    font-weight: 800;
    margin: 0;
  }

  p {
    margin-block: .5em;
    font-weight: 500;
  }

  a {
    position: relative;
    top: -.35em;
    font-size: 75%;
  }
}

.quote {


  blockquote {
    border-left: 5px solid var(--gray-700);
    padding-left: 1em;
    margin: 0;
    font-size: 2.25em;
    font-style: italic;
    font-weight: 100;
    text-wrap: balance;
    p { color: white }
  }
}
