body > header {
  margin-bottom: 9%;
}

article > section {
  margin-bottom: calc(5rem + 5vw);

  &:last-child {
    margin-bottom: 0;
  }

  h1 {
    font-size: calc(2.55rem + 1vw);
    letter-spacing: -0.03em;
    line-height: 1.1;
    font-weight: 800;
    margin: 0;

    + p {
      max-width: 28em;
      text-wrap: balance;
      font-size: 1.6em;
      margin: .2em 0 1em;
    }
  }

  h2 {
    font-size: calc(2em + 1vw);
    letter-spacing: -0.03em;
    font-weight: 800;
    text-wrap: balance;
    max-width: 15em;
    margin: 0;
  }

  > p {
    font-size: 1.4em;
    margin: .5em 0 .75em;
    line-height: 1.4;
  }

  figure {
    margin-top: 2.5em;

    &:hover {
      transform: scale(1.0025);
    }
  }
}

.hero {

  [role=button] {
    font-size: 1.05em;
  }
}


.quote {
  > * {
    padding-left: calc(1rem + 1.5vw);
  }

  blockquote {
    border-left: 5px solid var(--main-400);
    max-width: 25em;
    font-size: calc(1.5em + 1vw);
    font-weight: 425;
    letter-spacing: -.03em;
    margin: 0;
    text-wrap: balance;
    text-indent: -.25em;
    line-height: 1.3;
  }
}

.loom {
  blockquote {
    border-color: #605dec
  }
  > p strong:last-child {
    background: url(/img/loom-small.png) 0 center no-repeat;
    background-size: contain;
    padding-left: 1.4em;
    margin-left: .2em;
  }
}

.elliot {
  blockquote {
    border-color: #D73A5D
  }
  > p strong:first-child {
    background: url(/img/elliot.png) 0 center no-repeat;
    background-size: contain;
    padding-left: 1.6em;
    margin-left: .5em;
  }
}




