
.roadmap {
  background-color: var(--gray-100);
  padding: 2rem;

  .card {
    margin-bottom: 1rem;
  }

  h4 {
    margin-block: .3em;
  }

  p {
    margin-block: .2em 0;
  }

  @media (scripting: enabled) {
    button { display: none };
  }
}
