
/* overrides global card styling */
.card {
  text-align: left;
  padding: 2.5em;

  img {
    display: block;
    margin: 2em 0;
  }
}

/* hero area with call-to-action buttons */
.hero {
  max-width: 800px;
  margin: 0 auto;
  height: 450px;
  opacity: 1;
  transition: 2s;

  a {
    font-size: 105%;
    margin: 0 .3em;
  }

  @starting-style {
    opacity: 0;
  }
}

.explainer {
  background-color: var(--gray-950);
  padding: calc(1.5em + 5vw);
  margin: 5em 0;
  text-align: left;


  h2 { color: white; margin: 0 }
  p {
    color: var(--gray-200);
    font-size: 1.2em;
    line-height: 1.4;
  }
  img {
    float: right;
    width: 250px;
    margin: -1em 0 0 2em;
    display: inline-block;
  }

  @media (max-width: 900px) {
    flex-direction: column;
    gap: .5em
  }
}



/* development experience */
.dx .grid {
  margin: 0 0 calc(4em + 5vw);

  >:first-child {
    img {
      border-radius: 7px;

    }
  }

  @media (min-width: 1200px) {
    >:nth-child(4) {
      grid-area: 2 / 1 / 3 / 3;
      img {
        float: right;
        width: 420px;
        margin: 0 0 0 2em;
      }
    }
  }

  >:nth-child(5) {
    background-image: url(/home/img/black-bg.jpg);
    background-size: cover;


    h3 { color: var(--gray-200) }
    p { color: var(--gray-600) }
  }
}


/* user experience */
.ux .grid {
  margin-top: 4em;

  img {
    margin-bottom: 0;
  }

  >:first-child {
    background-image: linear-gradient(110deg, #008ff5, #68c1ff);
    h3 { color: white }
    p { color: var(--gray-200) }
    img {
      box-shadow: -.5em -.5em 1em #00000026;
      border-radius: .5em 0 0;
    }
    overflow: hidden;
    padding-right: 0;
    padding-bottom: 0;
  }
}



.project-status, .heroquote  {
  margin-bottom: 5em;
  text-align: left;
  max-width: 700px;;
}

.feedback {
  text-align: left;
}

.heroquote {
  margin-top: 2em;
  display: flex;
  gap: 2em;
  p {
    margin-top: -.3em;
  }
  img {
    min-width: 100px;
    max-width: 100px;
    border-radius: 4px;
  }
  @media (max-width: 700px) {
    display: block;
    img {
      float: right;
      margin-left: 2em;
    }
  }
}

.quotes {
  column-width: 17em;
  column-gap: 1.5em;
  list-style: none;
  padding: 0;

  .card {
    background: url(/icon/ycombinator.svg) no-repeat;
    background-position: right 1em top 1.3em;
    break-inside: avoid;
    background-size: 1.4em;
    margin-bottom: 1.5em;
    padding: 1.5em;
  }

  .from-x { background-image: url(/icon/x.svg) }
  .from-feedback { background-image: url(/icon/feedback.svg) }
  .from-gh { background-image: url(/icon/github.svg) }
  .from-reddit { background-image: url(/icon/reddit.svg) }
  .from-lobster { background-image: url(/icon/lobsters.png) }
}

