
@layer component {

  .console {
    height: 520px;
    background-image: linear-gradient(333deg, #222, #2f2f2f);
    margin-top: var(--l);
    color: white;

    pre {
      font-family: var(--monospace);
      max-width: 35em;
      padding: 1em;
      margin: 0;
    }

    div {
      white-space: nowrap;
      &:empty { height: 1.5em }
    }

    .response {
       &::first-letter { color: cyan }

      time {
        color: var(--accent-light);
        float: right;
      }
    }

    header {
      float: right;
      padding: .75em 1em;

    }

    &.is-playing header { display: none }

    .command {
      color: #888;
      &:before {
        content: "$ ";
        color: var(--accent-light);
      }

      /* cursor */
      &.is-typing:after {
        content: '';
        display: inline-block;
        width: 0.5em;
        height: 1em;
        background-color: #00cdff;
        margin-left: .15em;
        position: relative;
        top: 0.15em;
      }

      &.is-comment {
        color: #518568;
        &:after { animation: blink 1s infinite .5s; }
      }
    }

    /* caption */
    + p { font-size: .875em }
  }

  @keyframes blink {
    0%, 50% { opacity: 1 }
    51%, 100% { opacity: 0 }
  }
}

