
@layer components {
  dialog {
    padding: 1em 1.5em;
    border-radius: .5em;
    box-shadow: 0 0 2em var(--alpha-300);
    width: 22em;
    border: 0;

    header {
      border-bottom: 1px solid var(--base-200);
      justify-content: space-between;
      padding-block: .5em;
      align-items: center;
      display: flex;
    }

    &::backdrop {
      background: rgb(190 190 190 / 50%);
    }
  }
}