
/*
  "The media object saves hundreds of lines of code"

  https://www.stubbornella.org/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
*/
@layer components {
  .media {
    align-items: var(--align, center);
    gap: var(--gap, .75em);
    display: flex;

    img { border-radius: 9em }
    p { color: var(--base-400) }
  }
}