
@layer components {
  .pill {
    border: var(--border);
    color: var(--base-500);
    text-transform: capitalize;
    display: inline-flex;
    font-size: .875em;
    padding: .25em;
    padding-right: .75em;
    border-radius: 1em;
    align-items: center;
    gap: .25em;
    .icon { color: var(--main-500) }

    &.plain {
      border: unset;
      .icon {
        color: var(--base-400);
      }
    }
  }
}