
@layer component {

  button {
    background-color: var(--base-800);
    text-align: center;
    font-family: inherit;
    font-size: inherit;
    padding: .5em 1em;
    cursor: pointer;
    color: var(--base-200);
    border-radius: .25em;
    gap: .5em;
    border: unset;
  }
}