
@layer base {
  body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1.5em;
  }

  header, footer {
    font-size: 95%;
    nav {
      display: flex;
      gap: 2em;
    }
    button {
      font-size: 95%;
    }
  }

  body > header {
    justify-content: space-between;
    margin-bottom: 7.5em;
    align-items: center;
    display: flex;
    gap: 2em;

    @media (width > 1000px) {
      grid-template-columns: 1fr auto 1fr;
      display: grid;
    }

    nav {
      grid-column: 2;
      @media(width < 600px) { display: none }
    }

    aside {
      display: flex;
      grid-column: 3;
      justify-self: end;
      display: flex;
      gap: .5em;
      button {
        padding: .5em 1em;
      }
    }
  }

  .split {
    align-items: center;
    flex-direction: row;
    margin-block: 5em;
    gap: 5em;

    p {
      max-width: 30em;
      text-wrap: balance;
    }

    > * { flex: 1 }

    &.reverse { flex-direction: row-reverse }

    @media (width > 1000px) {
      display: flex;
    }
  }

  body > footer {
    border-top: 1px solid var(--border);
    padding-block: 5em;
    margin-top: 7.5em;
    display: flex;
    justify-content: space-between;
    gap: 1em;

    @media (width < 600px) {
      flex-direction: column;
    }
  }

}
