
/* global layout for marketing pages */
@layer structure {
  body {
    max-width: 1100px;
    padding: var(--l);
    margin: 0 auto;

    > header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}