
@layer base {

  :root {
    --bgcolor: white;
    --border: #eee;
    --monospace: courier;
  }

  *, *:before, *:after {
    box-sizing: border-box;
  }

  body {
    background-color: var(--bgcolor);
    font-family: system-ui;
    line-height: 1.5;
  }

  h1, h2, h3 {
    margin-block: 0.25em;
    text-wrap: balance;
    line-height: 1.25;
    + p { margin-top: 0 }
  }

  h4 {
    margin-bottom: .5em;
  }

  strong { color: black }

  p, li, td { text-wrap: pretty }

  ol, ul {
    padding-left: 1.5em;
    margin-block: 2em;
  }

  li {
    padding-left: .5em;
  }

  hr {
    border: 1px solid var(--border);
    border-width: 1px 0 0;
    margin-block: 5em;
  }

  figure {
    margin: 0;
    &.tall { margin-block: 3em }
  }

  img, video {
    max-width: 100%;
    height: auto;
  }

  p code {
    border: 1px solid var(--border);
    font-family: var(--monospace);
    background-color: #eafaff;
    padding-inline: .125em;
    display: inline-block;
    font-size: 95%;
    color: #246da2;
  }

}

