
@layer base {
  body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1.5em;
  }

  header, footer {
    font-size: 95%;
    a { text-decoration: none }
    button { font-size: 95% }

    nav {
      display: flex;
      gap: 2em;
    }
  }

  body > header {
    margin-bottom: 5em;
    align-items: center;
    display: flex;
    gap: 3em;

    > :last-child {
      margin-left: auto;
      display: flex;
      gap: .5em;
      button { padding: .5em 1em }
    }
  }

  body > footer {
    border-top: 1px solid var(--border);
    padding-block: 5em;
    margin-top: 7.5em;
    display: flex;
    justify-content: space-between;
    gap: 1em;

    @media (width < 600px) {
      flex-direction: column;
    }
  }
}
