:root {
  --glow-bg-color: #20293a;
  --glow-padding: 1.5em;
}

[glow] {
  background-color: var(--glow-bg-color);
  border-radius: .5em;
  padding: 1.5em;
  font-size: .9rem;
  overflow-x: auto;

  &.small {
    font-size: 85%;
  }

  article > & {
    margin: 2em 0;
  }
}

[language="sh"] {
  color: var(--main-600);
  font-weight: 600;
}

.gradient {
  background-image: linear-gradient(#e879f9, #ec4899);
  border-radius: .5em;
  margin: 1.5em 0 2em;
  padding: 3em 0 0 3em;
  overflow: hidden;

  & pre {
    margin: 0;
    padding: 2em;
  }

  & > * {
    border-radius: .5em 0 0;
  }

  &.sky {
    background-image: linear-gradient(#0ea5e9, #67e8f9);
  }

  &.waves {
    background: url("/img/waves.webp") -50% / 100% no-repeat;
  }

  @media (width <= 500px) {
    & {
      padding: 1em;
      overflow: hidden;
    }

    & [glow] {
      --glow-padding: 1em;
      padding: 1em;
    }
  }
}
