
@layer component {
  .card {
    background-color: rgba(100, 100, 100, .2);
    border-radius: var(--radius-m, 4px);
    padding: 1.25em;

    &.accent {
      background-color: #70b4d933;
    }

    > :first-child { margin-top: 0 }
    > :last-child { margin-bottom: 0 }
  }
}