
@layer component {

  .console {
    height: 500px;
    background-image: linear-gradient(333deg, #222, #2f2f2f);
    margin-top: var(--l);
    color: white;

    pre {
      font-family: Consolas, Monaco;
      max-width: 30em;
      padding: 1em;
      margin: 0;
    }

    div {
      white-space: nowrap;
      &:empty { height: 1.5em }
    }

    .response {
       &::first-letter { color: cyan }

      time {
        color: lime;
        float: right;
      }
    }

    cursor {
      display: inline-block;
      width: 1em;
      background-color: red;
    }

    header {
      float: right;

    }

    &.is-playing header { display: none }

    .command {
      color: #888;
      &:before {
        content: "$ ";
        color: magenta;
      }

      /* cursor */
      &.is-typing:after {
        content: '';
        display: inline-block;
        width: 0.5em;
        height: 1em;
        background-color: #00cdff;
        margin-left: .15em;
        position: relative;
        top: 0.15em;
      }

      &.is-comment {
        color: #6d6d6d;
        &:after { animation: blink 1s infinite .5s; }
      }
    }

    /* caption */
    + p { font-size: .875em }
  }

  @keyframes blink {
    0%, 50% { opacity: 1 }
    51%, 100% { opacity: 0 }
  }

  /*
  animation: shadowMorph 10s ease-in-out infinite alternate;

  @keyframes shadowMorph {
    0% { box-shadow: 0 0 1em #222 }
    25% { box-shadow: 0 0 2em #00afff }
    66% { box-shadow: 0 0 1em #3700ff }
    100% { box-shadow: 0 0 1em #222 }
  }
  */

}