
/* apply this globally  */
h1 {
  text-wrap: balance
}

.gallery {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 3em 0 5em;
  display: grid;
  gap: 3em;

  header {
    margin-bottom: 1em;
  }

  a {
    font-size: 88%;
    color: var(--gray-500);
    &:hover { color: black }
  }

  img {
    border-radius: .5em;
    box-shadow: 1px 1px 2px #0004;
    height: auto;

    &:hover { box-shadow: 0 0 0 3px var(--main-500) }
    &:active { transform: scale(.99) }
  }

  @media (min-width: 1100px) {
    margin: 5em -11em 6em;
  }
}

table td:first-child {
  white-space: nowrap;
  width: 200px;
}

@media (max-width: 800px) {
  tr { font-size: 90% }
}

.bar-chart {
  background-color: #f7f7f7;
  padding: 2em 2em .1em;
  border-radius: .5em;
  font-size: 90%;
  margin: 1.5em 0;

  + figcaption {
    margin: -1em 0 2em;
  }

  &:hover {
    box-shadow: 0 0 0 2px var(--main-500);
  }

  li {
    margin-bottom: 2em;
    list-style: none;
    padding: 0;
  }

  p {
    margin-bottom: .5em;
    color: var(--gray-600);
    font-size: 85%;
    display: flex;
    gap: 1.5em;

    :last-child { margin-left: auto; text-align: right}
  }

  small {
    display: block;
    text-align: right;
    margin-top: .5em;
    color: var(--gray-500);
  }

  .bar-cells {
    display: flex;
    gap: 3px;
    > b {
      background-color: var(--main-500);
      height: 6px;
    }
  }
}


.roadmap {
  font-size: 90%;
  list-style: none;
  padding: 0;
  margin: 3em 0 4em;
  li {
    display: flex;
    gap: 3em;
    margin-bottom: 1.5em;
    padding: 0;
  }
  time {
    font-size: 90%;
    color: var(--gray-500);
  }

  p {
    margin-bottom: .3em;
  }

  .is-next {
    border-top: 1px dashed var(--gray-300);
    padding-top: 1.5em;
  }
}


h3 {
  em {
    color: var(--main-500);
    font-style: normal;
  }

  .tag {
    background-color: var(--blue);
    text-transform: uppercase;
    display: inline-block;
    padding: .3em .6em;
    border-radius: .3em;
    margin-left: .5em;
    font-weight: 800;
    font-size: 70%;
    color: white;
  }
}


/* measurement page */
.file-list {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  display: grid;
  font-size: 85%;
  margin: 2em 0;
  ul { list-style: none; }
  ul, li {padding: 0; margin: 0}
  gap: 2em 5em;
  a {
    text-decoration: none;
    font-weight: 400;
    font-size: 95%;
  }
  b {
    float: right;
    font-size: 90%;
  }
}

table, .file-list, .roadmap {
  a {
    color: var(--main-500);
    font-weight: 500;

    &:hover {
      text-decoration: underline;
      color: var(--main-400);
    }
  }
}