
@layer contexts {

  /* typescale: perfect fifth */
  :root {
    --typescale: 1.33;
    --m:    16px;
    --s:    calc(var(--m) / var(--typescale));
    --l:    calc(var(--m) * var(--typescale));
    --xl:   calc(var(--m) * pow(var(--typescale), 2));
    --xxl:  calc(var(--m) * pow(var(--typescale), 3));
  }

  body {
    font-size: var(--m);
  }

  h1, h2, h3, h4, h5 {
    overflow-wrap: break-word;
    text-wrap: balance;
    margin-top: var(--l);
    margin-bottom: var(--m);
  }


  h1 {
    font-size: var(--xxl);
    line-height: 1.1
  }

  h2 {
    font-size: var(--xl);
    line-height: 1.2
  }

  h3 {
    font-size: var(--l);
    line-height: 1.3
  }

  h4 {
    font-size: var(--m);
    line-height: 1.4
  }

}