
/* example */
[glow] {

  /* brand coloring */
  --glow-primary-color: #7dd3fc;
  --glow-secondary-color: #f472b6;
  --glow-accent-color: #419fff;

  /* rare case. make it "pop" */
  --glow-special-color: #fff;

  /* shades of gray */
  --glow-base-color: #a2aab1;
  --glow-char-color: #64748b;
  --glow-comment-color: #4e5d61;
  --glow-counter-color: #475569;

  /* selection color */
  --glow-selected-color: #2dd4bf26;
}