
/* documentation-specific content widgets  */

h1 + p {
  text-wrap: balance;
  font-size: 1.15rem;
}

.gridpaper {
  background-image: url(/img/grid-paper.png);
  border: 1px solid var(--gray-200);
  border-radius: 5px;
  text-align: center;

  figcaption {
    margin: 0;
    position: relative;
    line-height: 0;
    top: 2em;
  }

  &:has(figcaption) {
    margin-bottom: 6em;
  }
}

.above {
  background-color: var(--gray-600);
  box-shadow: 0 0 4em #0007;
  font-size: 1.2em;
  position: relative;
  top: -13em;

  &:hover {
    background-color: var(--gray-700);
  }
}

figure:has(.above) {
  margin-bottom: -1rem;
}


/* "good" and "bad" code block captions */
.good, .bad  {
  margin-top: 2em;

  figcaption {
    background: url(/icon/bad.svg) -.2em center no-repeat;
    padding: .2em 0  .2em 1.8em;
    background-size: 1.6em;
    color: var(--gray-900);
    text-align: left;
    font-weight: 550;
    font-size: 95%;

    &:after {
      border-left: 1px solid var(--red);
      position: relative;
      top: 1.2em;
      left: -1.2em;
      content: "";
      height: 1em;
      display: block;
      float: left;
    }
  }
}

.good figcaption {
  background: url(/icon/good.svg) -1px center no-repeat;
  background-size: 1.4em;

  &:after {
    border-color: var(--green);
  }
}


.options {
  h4 {
    margin: 2.5em 0 1.5em .15em;
    font-weight: bold;
  }

  p {
    font-size: 95%;
    line-height: 1.4;
    display: flex;
  }

  code {
    min-width: 10em;;
  }
}


.apidoc article h3 {
  font-family: monospace;
  color: var(--main-600);
  background-color: var(--main-50);
  display: inline-block;
  padding: .3em .6em;
  margin-bottom: -.5em;
  border-radius: 2px;
}


.simple-compare:popover-open {
  max-width: 980px;
  display: flex;
  margin: 0 auto;
  gap: 1.5rem;
  inset: .75rem;

  h2 {
    margin: .5em 0 0;
    + p { margin-block: .3em }
    a { display: none }
  }
  > * {
    flex: 1
  }

  .action {
    position: absolute;
    top: .5em;
    right: .5em;
    figure { margin: 0 }
  }

}

#resources {
  max-width: 1130px;
}

.play-button, .zoom {
  background-image: url(/icon/play.svg);
  background-repeat: no-repeat;
  background-position: 1em center ;
  background-size: 1rem;
  padding-left: 2.5em;
}

.zoom {
  background-image: url(/icon/zoom.svg);
  background-size: 1.1rem;
}

.small {
  font-size: 90%;
}

.columns {
  column-width: 15em;
  column-gap: 2em;
}