

/* mobile first strategy */
main {
  flex-direction: column;
  display: flex;
  gap: 1em;
}

article {
  max-width: 48rem;
  margin: 0 auto;

  h2, h3 {
    scroll-margin-top: 7.2rem;
  }
}

/* @subheader (sub navigation)  */
body > nav {
  margin: -4em 0 3em;
  border-bottom: var(--border);
  align-items: center;
  padding-bottom: .5em;
  display: flex;
  gap: .5em;

  button {
    background-image: url(/icon/menu.svg);
    background-size: 1.3em;
    height: 2.4em;
  }

  strong {
    font-weight: 550;
    font-size: 90%;
  }
}

/* navigation ( sidebar + toc) */
aside {

  h3 {
    font-size: 90%;
    margin: .4em 0 1em;
    margin-left: -.55em;
  }

  nav {
    margin-bottom: 2.5em;
  }

  nav > a {
    border-left: var(--border);;
    padding: .5em 1em;
    white-space: nowrap;
    display: block;
    font-size: 85%;
    font-weight: 400;

    &[aria-selected] {
      border-color: var(--main-500);
      border-width: 2px;
      color: var(--main-500);
      font-weight: 550;
      margin-left: -1px;
    }

    &:not([href]) {
      color: var(--gray-300);
      cursor: not-allowed;
    }
  }
}



/* table of contents */
article + aside {
  display: none;

  .level-2 {
    margin-top: 1em;
    font-weight: 550;
    color: var(--gray-800);
  }

  .level-3 {
    padding-left: 2rem;
    font-weight: 400;
    font-size: 85%;
  }
}


.gridpaper {
  background-image: url(/img/grid-paper.png);
  border: 1px solid var(--gray-200);
  border-radius: 5px;

  figcaption {
    margin: 0;
    position: relative;
    line-height: 0;
    top: 2em;
  }

  &:has(figcaption) {
    margin-bottom: 6em;
  }
}

.bordered img {
  border: 1px solid var(--gray-100);
  border-radius: 4px;
  box-shadow: 0 .3em .5em #0001;
}

/* currently: TODO badge in SPA page */
h1 code {
  background-color: var(--main-100);
  color: var(--main-600);
  letter-spacing: .01em;
  font-family: inherit;
  border-radius: .2em;
  padding: .2em .4em;
  font-size: 1.2rem;
  float: right;
}

.apidoc section h3 {
  font-family: monospace;
  color: var(--main-600);
  background-color: var(--main-50);
  display: inline-block;
  padding: .4em .6em;
  margin-bottom: -.5em;
  margin-left: -.6em;
}


/* "good" and "bad" code block captions */
.good, .bad  {
  margin-top: 2em;

  figcaption {
    background: url(/icon/bad.svg) -.2em center no-repeat;
    padding: .2em 0  .2em 1.8em;
    background-size: 1.6em;
    text-align: left;
    font-weight: 550;
    font-size: 95%;

    &:after {
      border-left: 1px solid var(--red);
      position: relative;
      top: 1.2em;
      left: -1.2em;
      content: "";
      height: 1em;
      display: block;
      float: left;
    }
  }
}

.good figcaption {
  background: url(/icon/good.svg) -1px center no-repeat;
  background-size: 1.4em;

  &:after {
    border-color: var(--green);
  }
}


.options {
  h4 {
    margin: 2.5em 0 1.5em .15em;
    font-weight: bold;
  }

  p {
    font-size: 95%;
    line-height: 1.4;
    display: flex;
  }

  code {
    min-width: 8em;
  }


}