
/* documentation-specific content widgets  */

.gridpaper {
  background-image: url(/img/grid-paper.png);
  border: 1px solid var(--gray-200);
  border-radius: 5px;

  figcaption {
    margin: 0;
    position: relative;
    line-height: 0;
    top: 2em;
  }

  &:has(figcaption) {
    margin-bottom: 6em;
  }
}


/* "good" and "bad" code block captions */
.good, .bad  {
  margin-top: 2em;

  figcaption {
    background: url(/icon/bad.svg) -.2em center no-repeat;
    padding: .2em 0  .2em 1.8em;
    background-size: 1.6em;
    color: var(--gray-900);
    text-align: left;
    font-weight: 550;
    font-size: 95%;

    &:after {
      border-left: 1px solid var(--red);
      position: relative;
      top: 1.2em;
      left: -1.2em;
      content: "";
      height: 1em;
      display: block;
      float: left;
    }
  }
}

.good figcaption {
  background: url(/icon/good.svg) -1px center no-repeat;
  background-size: 1.4em;

  &:after {
    border-color: var(--green);
  }
}


.options {
  h4 {
    margin: 2.5em 0 1.5em .15em;
    font-weight: bold;
  }

  p {
    font-size: 95%;
    line-height: 1.4;
    display: flex;
  }

  code {
    min-width: 8em;
  }

}

.popup {
  background-color: var(--main-400);
  padding: .5em 1.5em;

  p {
    color: white;
    font-weight: 600;
    font-size: 110%;
  }
}

/* currently: TODO badge in SPA page */
h1 code {
  background-color: var(--main-100);
  color: var(--main-600);
  letter-spacing: .01em;
  font-family: inherit;
  border-radius: .2em;
  padding: .2em .4em;
  font-size: 1.2rem;
  float: right;
}

.apidoc section h3 {
  font-family: monospace;
  color: var(--main-600);
  background-color: var(--main-50);
  display: inline-block;
  padding: .4em .6em;
  margin-bottom: -.5em;
  margin-left: -.6em;
}
