

/* subnavigation in mobile  */
body > nav {
  position: sticky;
  top: -1px;
  z-index: 1;

  margin: -4em 0 3em; /* move closer to header */
  align-items: center;
  gap: .5em;

  /* styling  */
  background-color: white;
  border: var(--border);
  border-width: 1px 0;
  padding: .75em 0;
  width: 100%;

  /* menu trigger */
  [popovertarget] {
    background: url(/icon/menu.svg) .4em 50% no-repeat;
    padding: .2em .8em .2em 2em;
    background-size: 1.1em;
    color: var(--gray-900);
    font-family: inherit;
    font-weight: 600;
    font-size: .95em;
    width: auto;
  }
}

/* both sidebars (left and right) */
aside {

  h3 {
    font-size: 90%;
    margin: 0 0 1em;
  }

  /* link styling */
  nav > a {
    border-left: var(--border);;
    padding: .5em 1em;
    white-space: nowrap;
    display: block;
    font-size: 85%;
    font-weight: 400;

    &:hover { color: black }


    &:not([href]) {
      color: var(--gray-300);
      cursor: not-allowed;
    }
  }
}

/* sidebar only */
aside:first-child nav {
  margin-bottom: 2.5em;

  [aria-selected] {
    background: var(--main-500);
    color: white;
    border-radius: 0 3px 3px 0;
  }
}

/* table of contents */
.toc {
  margin-bottom: .2em;

  /* overlfow ellipsis */
  a {
    max-width: 16em;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  strong {
    font-weight: 550;
    color: var(--gray-800);
  }


  [aria-selected] {
    border-color: var(--main-500);
    border-width: 2px;
    color: var(--main-500);
    font-weight: 550;
    margin-left: -1px;
  }
}



/* icons */
aside:first-child h3 {
  background: 0 50% no-repeat;
  padding-left: 1.7em;
  margin-left: -.55em;


  /* Content Framework */
  nav:nth-child(1) & {
    background-image: url(/icon/badge.svg)  /* cog, badge, shield, star */
  }

  /* UX */
  nav:nth-child(2) & {
    background-image: url(/icon/wrench.svg)  /* user, heart, bolt */
  }

  /* Reference */
  nav:nth-child(3) & {
    background-image: url(/icon/document.svg)
  }


}




/* zen mode */
.zen-toggle {
  position: fixed;
  width: 17.5rem;
  background-color: white;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 90%;
  padding: 0em 2.5em;

  h5 {
    font-weight: 500;
    color: var(--gray-600);
  }
}

.zen {
  main { margin-top: 1em }
  aside { height: calc(100vh - 2em) }
  h1 { margin-top: 0 }

  body > header, body > nav, article + aside h3, .toc {
    display: none
  }
}
