

/* small screens  */
@media (max-width: 1000px) {
  aside:first-child {
    padding: 1em 2em 3em;
    z-index: 1;
    overflow: auto;
    width: 22em;
    max-width: 100%;
    font-size: 110%;
    transition: .2s;
    height: 100vh;
    margin: 0;

    nav {
      margin-bottom: 2em;
    }
  }
}


/* icons */
aside:first-child h3 {
  background: 0 50% no-repeat;
  padding-left: 1.7em;


  /* Content Framework */
  nav:nth-child(1) & {
    background-image: url(/icon/badge.svg)  /* shield, star */
  }

  /* Design */
  nav:nth-child(2) & {
    background-image: url(/icon/swatch.svg)
  }

  /* Content Management */
  nav:nth-child(3) & {
    background-image: url(/icon/rectangles.svg)
  }

  /* Reactivity */
  nav:nth-child(4) & {
    background-image: url(/icon/bolt.svg)
  }

  /* SPA */
  nav:nth-child(5) & {
    background-image: url(/icon/squares.svg)
  }

  nav:nth-child(6) & {
    background-image: url(/icon/document.svg)
  }
}


