
dialog.nuerr {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  font-family: BlinkMacSystemFont, sans-serif;
  border-radius: var(--dialog-radius, 6px);
  margin: 10vh auto 0;
  padding: 2em 2.5em;
  font-size: 15px;
  min-width: 22em;
  border: 0;
  color: #666;
  left: revert;
  display: block;
}

.nuerr::backdrop {
  backdrop-filter: contrast(70%)
}

/* close button */
.nuerr a {
  position: absolute;
  font-weight: 100;
  top: .3em;
  right: .6em;
  font-size: 1.8em;
  line-height: 1;
  color: #999;
  cursor: pointer;
}

.nuerr a:hover {
  color: black;
  font-weight: 300;
}

.nuerr h3 {
  margin: 0 0 .5em;
  font-weight: 550;
  color: black;
}

.nuerr p {
  margin: 0;
}

.nuerr pre {
  border: 1px solid #ccc;
  font-family: courier;
  margin-left: -3px;
  padding: 1.5em 1em;
  background: #f5f5f5;
  border-radius: 2px;
  color: #0082b3;
}

.nuerr samp {
  border: 1px solid #eee;
  background: #fcfcfc;
  font-family: courier;
  margin: 0 3px;
  padding: 3px 5px;
  font-size: 90%;
  border-radius: 3px;;
}

.nuerr h3 > b {
  background-color: red;
  color: white;
  padding: .3em;
  font-size: .7em;
  position: relative;
  margin-right: 5px;
  top: -1px;
  border-radius: 2px;
  text-transform: uppercase;
}
