
h2 code {
  background-color: var(--main-200);
  font-size: 1.1rem;
  color: var(--main-600);
  line-height: 1;
  font-family: courier new;
  text-shadow: 1px 1px 1px white;
  padding: .3em .6em;
  border-radius: .3em;
  float: right;
  margin: .1em .3em 0 .2em;
}

.problem {
  border-left: 5px solid var(--red);
  background-color: #fff5f3;
  padding: .1em 2.5em .1em 1.5em;
  font-size: 95%;
  margin: 2em 0;
}


#design, #speed, #ux {
  code {
    background-color: #cdffdf;
    color: #28ac6c;
  }
}
