
/* global layout */

@layer base {
  body {
    max-width: 1000px;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    gap: var(--l);

    > * { padding: 1em }
    > main { flex: 1 }
  }

  header {
    align-items: center;
    display: flex;
    gap: 1em;

    nav:last-of-type {
      margin-left: auto;
      justify-content: right;
    }
  }

  footer {
    padding-bottom: var(--xl);
    color: var(--fg-300);
    strong {
      color: var(--fg-600);
      letter-spacing: .075em;
      font-size: 95%;
      font-weight: 600;
    }
  }

  nav {
    align-items: center;
    display: flex;
    gap: 2em;

    a {
      color: var(--fg-500);
      text-decoration: none;
      white-space: nowrap;
      cursor: pointer;

      &:hover {
        color: var(--fg-700);
      }

      &[aria-current="page"] {
        color: var(--fg-700);
        text-decoration: underline;
        text-underline-offset: .375em;
        text-decoration-color: var(--fg-300);
        font-weight: 500;
      }
    }

    + h3 {
      margin-top: 2.5em;
    }
  }

  /* content heavy articles (non SPA) */
  main > article {
    flex-direction: column;
    display: flex;
    gap: var(--xl); /* section gaps */

    h1, h2, h3, p, li {
      max-width: var(--max-line-width)
    }

    h1 {
      font-size: 2.25em;
      & + p, & + time + p {
        font-size: 1.125em;
        text-wrap: balance;
      }
    }

    section > :is(h3, h4) {
      margin-top: var(--l)
    }

    + aside {
      margin-top: var(--xl);
    }
  }
}
