
@layer globals {

  h1, h2, h3, h4, p {
    margin-block: .25em;
  }

  p {
    color: var(--base-500);
    text-wrap: balance;
    line-height: 1.5;
  }

  h1 {
    font-size: 1.25em;
  }

  h2 {
    font-size: 1.125em;
    font-weight: 500;
  }

  h3 {
    font-size: 1em;
  }

  h4 {
    font-size: 1em;
    font-weight: 500;
    margin-block: .5em;
  }

  ins {
    text-decoration: none;
    color: var(--green);
  }

  del {
    text-decoration: none;
    color: var(--red);
  }

  small {
    font-size: .75em;
  }
  
}