@layer components {

  button {
    align-items: center;
    font-family: inherit;
    font-size: inherit;
    padding: .75em 1em;
    white-space: nowrap;

    /* styling */
    box-shadow: 0 0 0 1px var(--base-200);
    background-color: white;
    text-decoration: none;
    color: var(--base-600);
    border-radius: .25em;
    font-weight: 500;
    cursor: pointer;
    transition: .2s;
    border: unset;

    &:hover {
      box-shadow: 0 0 0 1px var(--base-300);
      color: var(--base-900);
    }

    &:active {
      transform: scale(.97);
    }

    &.primary {
      background-color: var(--main-500);
      color: white;

      &:hover {
        background-color: var(--main-600);
        color: white;
      }
    }

    &.fullsize { width: 100% }
  }
}