
@layer components {

  .grid {
    gap: var(--grid-gap);
    flex-wrap: wrap;
    display: flex;

    > * { flex: 1 1 30em }
    > .thin { max-width: 30em }
    > .wide { flex-basis: 40em }
  }


  .row {
    display: flex;
    align-items: center;
    gap: .75em;

    &.full {
      > * { flex: 1 }
    }
  }
}