.badge {
  color: var(--gray-700);
  border: var(--border);
  background-repeat: no-repeat;
  border-radius: 9em;
  padding: .5em;
  font-size: 80%;
  font-weight: 550;

  &:hover {
    border-color: var(--gray-400);
    color: #000;
  }

  &:active {
    border-color: var(--gray-200);
    transform: scale(.97);
  }

  &.status {
    background-image: url("/icon/cube.svg");
    background-position: .5em;
    background-size: 1.5em;
    background-color: var(--main-50);
    padding-left: 2.3em;
  }

  &.github {
    background-image: url("/icon/github.svg");
    background-position: .5em;
    background-size: 1.2em;
    padding-left: 2em;

    & em {
      background-color: var(--main-50);
      border-radius: 1em;
      padding: .2em .6em;
      font-style: normal;
      font-weight: 600;
    }
  }
}
