.card, .note {
  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

.grid {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5em;
  margin: 3em 0;
  display: grid;

  @media (width <= 700px) {
    & {
      max-width: 400px;
      margin-inline: auto;
    }
  }
}

.card {
  border: var(--border);
  border-radius: .5em;
  padding: 1.5em;
  font-size: 95%;
  box-shadow: 0 0 2em rgba(0, 0, 0, .067);

  & h3 {
    margin-bottom: -.5em;
  }

  &.clickable {
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 0 2px white, 0 0 0 4px var(--main-500);
    }
  }
}

.note {
  border-left: 4px solid var(--main-500);
  margin: 2em 0;
  padding: .5em 1.2em;

  & > :first-child {
    color: var(--main-600);
    background: url("/icon/info.svg") 0 / .9em no-repeat;
    margin: 0 0 .3em;
    padding-left: 1.2em;
  }
}

.stack {
  gap: 1.5em;
  margin: 2em 0;
  display: flex;

  & > * {
    flex: 1;
  }

  @media (width <= 900px) {
    & {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
