:root {
  accent-color: var(--main-500);
}

::placeholder {
  color: var(--gray-400);
}

:focus-visible {
  outline: 2px solid var(--main-500);
  outline-offset: 1px;
}

input, textarea, select {
  font-size: inherit;
  color: inherit;
  border: 1px solid var(--gray-200);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  width: 100%;
  padding: .8em 1.2em;
  font-family: inherit;
  transition: outline-width .1s;

  &:focus {
    border-color: var(--main-400);
  }
}

[type="checkbox"], [type="radio"] {
  width: inherit;
  padding: 0;
}

textarea {
  form-sizing: normal;
  resize: none height: 6em;
}

.join-list {
  max-width: 23em;
  margin: 2em 0;

  & input {
    background: url("/img/email.svg") 95% 55% / 1.1em no-repeat;
  }

  & textarea {
    margin: .5em 0;
  }
}
