nav a {
  color: var(--gray-600);

  &:hover {
    color: #000;
  }

  &[aria-selected] {
    color: #000;
    font-weight: bold;
  }
}

body > header {
  margin-bottom: var(--section-gap, 5em);

  &, & > * {
    align-items: center;
    gap: 2em;
    display: flex;
  }

  & [aria-label="toolbar"] {
    gap: 1em;
    margin-left: auto;
  }

  & nav a {
    font-size: 85%;
    font-weight: 600;
  }

  & hr {
    border-width: 0 1px 0 0;
    height: 1.2em;
  }

  & > [popovertarget] {
    background-image: url("/icon/dots.svg");
    background-size: 1.8em;
    height: 2.4em;
    margin-left: auto;
    padding-inline: .8em;
    display: none;
  }

  @media (width <= 800px) {
    & > * {
      display: none;
    }

    & > :first-child, & > [popovertarget] {
      display: inline-block;
    }
  }
}

body > footer {
  margin-top: var(--section-gap, 5em);
  border-top: var(--border);
  gap: 7em;
  padding-block: 3em;
  display: flex;

  & h3 {
    margin: 0 0 .5em;
    font-size: 95%;
  }

  & nav a {
    padding: .5em 0;
    font-size: 90%;
    font-weight: 400;
    display: block;
  }

  & a:has(img) {
    padding: 0;
  }

  @media (width <= 700px) {
    & {
      flex-direction: column;
      gap: 3em;
    }
  }

  & section {
    gap: 6em;
    display: flex;

    @media (width <= 400px) {
      & {
        flex-direction: column;
        gap: 3em;
      }
    }
  }
}
