[popover] {
  border: 0;

  &::backdrop {
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, .333);
  }

  & [popovertarget] {
    color: var(--gray-600);
    width: 1.1em;
    padding: 0;
    font-size: 1.8em;
    font-weight: 400;
    position: absolute;
    top: .4em;
    right: .4em;

    &:hover {
      color: var(--gray-800);
    }
  }
}

dialog {
  left: inherit;
  border-radius: .5em;
  min-width: 14em;
  margin: 0;
  padding: 1em 2em;
  transition: opacity .1s;
  display: none;
  position: fixed;
  top: 1em;
  right: 1em;

  & nav a {
    padding: .8em 0;
    font-weight: bold;
    display: block;
  }

  &:popover-open {
    z-index: 1;
    display: block;
  }
}
