
/* misc / shameful stuff  */
@layer adjustments {
  body {
    background-color: var(--base-100);
  }

  :is(h1, h2, h3):has(img, svg) {
    align-items: center;
    display: flex;
    gap: .25em;
  }
}



