
@layer components {
  dl {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-block: 1em;

    > * {
      margin: .25em 0;
      line-height: 1.25;
     }

    dt { font-weight: 500 }
    dd { color: var(--base-600) }
  }
}