
/* generic wrapper decorations  */

/* gradients */
:root {
  --pink-gradient: linear-gradient(#e879f9, #ec4899);
  --blue-gradient: linear-gradient(#0ea5e9, #67e8f9);
}

.pink, .blue {
  background-image: var(--pink-gradient);
  padding: 3em 0 0 3em;
  border-radius: .8em;
  overflow: hidden;
  margin: 1.5em 0 2em;

  pre {
    padding: 2em;
    margin: 0;
  }

  > * {
    border-radius: .6em 0 0 0;
  }
}

.blue {
  background-image: var(--blue-gradient);
}
