
@layer component {
 .tag {
    border-radius: var(--radius-s, 2px);
    background-color: var(--accent);
    margin-right: .25em;
    padding: .1em .5em;
    font-weight: 550;
    color: white;
  }
}