

@layer settings {
  body {
    background-color: var(--base-100);
    overflow: hidden;
    padding: 1em;
  }
}

@layer containers {
  .app {
    display: flex;
    gap: 1em;

    .logo { width: 1.75em }

    /* panel dimensions */
    .navigation { min-width: 16em; }

    main { flex-grow: 1 }

    .details {
      min-width: 32em;
      width: 32em;
    }

    /* app overrides */
    button {
      font-size: .875em;
      padding: .25em .75em;
      gap: .25em;
    }
  }

  .login {
    max-width: 25em;
    margin: 10% auto;
    padding: 1.5em 2em;

    footer { margin-block: 1.5em }

    button { width: 100% }
  }
}


@layer adjustments {

  @keyframes pulse {
    0%, 100% { opacity: 0.5; }
    50% { opacity: 1; }
  }

  .pulsating {
    opacity: 0.1;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

    &:nth-child(2) {
      animation-delay: 0.25s;
    }

    &:nth-child(3) {
      animation-delay: .5s;
    }
  }

}






