
@layer components {
  .item {
    margin-inline: 2px;
    border-radius: .25em;

    .message {
      color: var(--base-500);
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-height: 1.25;
      overflow: hidden;
      font-weight: 400;
    }

    .user-header {
      font-size: .875em;
      figure {
        width: 2.75em;
        margin-bottom: -1px;
      }
    }

    &:hover {
      background-color: var(--base-50);
    }

    &[aria-selected] {
      outline: 1px solid var(--base-200);
      background-color: var(--base-50);
      pointer-events: none;
    }
  }


  .tabular .item {
    display: grid;
    grid-template-columns: minmax(14em, auto) minmax(20em, 1fr) auto auto auto;
    grid-template-areas: "header message type meta time";
    align-items: center;
    padding: .5em 1em;
    color: unset;
    gap: 1em;
    margin-bottom: .5em;

    aside {
      display: contents;
      small { grid-area: type; display: none }
      time {
        grid-area: time;
        text-align: right;
      }
    }

    .message {
      grid-area: message;
      padding-right: 5vw;
    }

    @container (width < 900px) { .meta { display: none } }

    @container (width < 650px) {
      align-items: flex-start;
      grid-template-columns: minmax(150px, auto) 1fr;
      grid-template-areas: "header time" "message message";

      gap: .5em;
      margin-bottom: 1.5em;

      .message {
        border-left: 3px solid var(--base-300);
        padding-left: .75em;
        margin-left: 1em;
        padding-right: 0;
      }
    }
  }


  .list { container-type: size }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid */
    display: grid;
    gap: 1em;

    .item {
      border: 1px solid var(--base-200);
      box-shadow: 0 0 1em var(--alpha-50);
      border-radius: .5em;
      display: block;
      height: 100%;
      padding: 1.5em;
      color: unset;

      display: flex;
      flex-direction: column;
      gap: .75em;
    }

    aside {
      &, :first-child {
        align-items: center;
        display: flex;
        gap: .5em;
      }

      :last-child { margin-left: auto }
    }

    .message {
      border-left: 3px solid var(--base-300);
      padding-left: .75em;
    }
  }

}