h1 {
  text-wrap: balance;
}

.gallery {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3em;
  margin: 3em 0 5em;
  display: grid;

  & header {
    margin-bottom: 1em;
  }

  & a {
    color: var(--gray-500);
    font-size: 88%;

    &:hover {
      color: #000;
    }
  }

  & img {
    border-radius: .5em;
    height: auto;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .267);

    &:hover {
      box-shadow: 0 0 0 3px var(--main-500);
    }

    &:active {
      transform: scale(.99);
    }
  }

  @media (width >= 1100px) {
    & {
      margin: 5em -11em 6em;
    }
  }
}

table td:first-child {
  white-space: nowrap;
  width: 200px;
}

@media (width <= 800px) {
  tr {
    font-size: 90%;
  }
}

.bar-chart {
  background-color: #f7f7f7;
  border-radius: .5em;
  margin: 1.5em 0;
  padding: 2em 2em .1em;
  font-size: 90%;

  & + figcaption {
    margin: -1em 0 2em;
  }

  &:hover {
    box-shadow: 0 0 0 2px var(--main-500);
  }

  & li {
    margin-bottom: 2em;
    padding: 0;
    list-style: none;
  }

  & p {
    color: var(--gray-600);
    gap: 1.5em;
    margin-bottom: .5em;
    font-size: 85%;
    display: flex;

    & :last-child {
      text-align: right;
      margin-left: auto;
    }
  }

  & small {
    text-align: right;
    color: var(--gray-500);
    margin-top: .5em;
    display: block;
  }

  & .bar-cells {
    gap: 3px;
    display: flex;

    & > b {
      background-color: var(--main-500);
      height: 6px;
    }
  }
}

.roadmap {
  margin: 3em 0 4em;
  padding: 0;
  font-size: 90%;
  list-style: none;

  & li {
    gap: 3em;
    margin-bottom: 1.5em;
    padding: 0;
    display: flex;
  }

  & time {
    color: var(--gray-500);
    font-size: 90%;
  }

  & p {
    margin-bottom: .3em;
  }

  & .is-next {
    border-top: 1px dashed var(--gray-300);
    padding-top: 1.5em;
  }
}

h3 {
  & em {
    color: var(--main-500);
    font-style: normal;
  }

  & .tag {
    background-color: var(--blue);
    text-transform: uppercase;
    color: #fff;
    border-radius: .3em;
    margin-left: .5em;
    padding: .3em .6em;
    font-size: 70%;
    font-weight: 800;
    display: inline-block;
  }
}

.file-list {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em 5em;
  margin: 2em 0;
  font-size: 85%;
  display: grid;

  & ul {
    list-style: none;
  }

  & ul, & li {
    margin: 0;
    padding: 0;
  }

  & a {
    font-size: 95%;
    font-weight: 400;
    text-decoration: none;
  }

  & b {
    float: right;
    font-size: 90%;
  }
}

table, .file-list, .roadmap {
  & a {
    color: var(--main-500);
    font-weight: 500;

    &:hover {
      color: var(--main-400);
      text-decoration: underline;
    }
  }
}
