
@layer layout {

  .topics {
    font-size: var(--ui-sizing);
    margin-top: 2em;
    flex-wrap: wrap;
    display: flex;

    nav { margin: 0 10vw 3em 0 }

    small {
      font-size: inherit;
      color: var(--text-subtle);
      @media (500px < width < 900px) { display: none; }
    }
  }

  .learn-more {

    .stack {
      margin-block: 1.5em 2em;
      max-width: 12em;
      gap: .75em;
    }

    [aria-current] {
      background-color: var(--inverse);
      color: var(--inverse-text);
      padding: .25em .5em;
      pointer-events: none;
      margin-left: -.5em;
      width: auto;
    }
  }
}