
article {
  max-width: 44rem;
  margin: 0 auto;

  /* eyebrow */
  > :first-child {
    margin-bottom: -1.5em;
    font-weight: 550;
    color: var(--gray-500);
  }
}

.recap {
  figure { margin-bottom: -2em }
  form {
    margin-top: 1em;
    font-size: 15px;
  }
}