main {
  flex-direction: column;
  gap: 1em;
  display: flex;
}

article {
  max-width: 48rem;
  margin: 0 auto;

  & h2, & h3 {
    scroll-margin-top: 7.2rem;
  }
}

body > nav {
  border-bottom: var(--border);
  align-items: center;
  gap: .5em;
  margin: -4em 0 3em;
  padding-bottom: .5em;
  display: flex;

  & button {
    background-image: url("/icon/menu.svg");
    background-size: 1.3em;
    height: 2.4em;
  }

  & strong {
    font-size: 90%;
    font-weight: 550;
  }
}

aside {
  & h3 {
    margin: .4em 0 1em -.55em;
    font-size: 90%;
  }

  & nav {
    margin-bottom: 1em;
  }

  & nav > a {
    border-left: var(--border);
    white-space: nowrap;
    padding: .5em 1em;
    font-size: 90%;
    display: block;

    &[aria-selected] {
      border-color: var(--main-400);
      color: var(--main-500);
      border-width: 2px;
      margin-left: -1px;
      font-weight: 550;
    }
  }
}

article + aside {
  display: none;

  & .level-2:not(:first-child) {
    margin-top: 1em;
  }

  & .level-3 {
    color: var(--gray-500);
    padding-left: 2rem;
    font-size: 85%;
    font-weight: 400;
  }
}

.gridpaper {
  border: 1px solid var(--gray-200);
  background-image: url("/img/grid-paper.png");
  border-radius: 5px;
}

.bordered img {
  border: 1px solid var(--gray-100);
  border-radius: 4px;
  box-shadow: 0 .3em .5em rgba(0, 0, 0, .067);
}

h1 code {
  background-color: var(--main-100);
  color: var(--main-600);
  letter-spacing: .01em;
  float: right;
  border-radius: .2em;
  padding: .2em .4em;
  font-family: inherit;
  font-size: 1.2rem;
}
