@media (width >= 1000px) {
  body > header {
    padding: var(--body-padding);
    border-bottom: var(--border);
    backdrop-filter: blur(4px);
    z-index: 1;
    background-color: rgba(255, 255, 255, .95);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

  main {
    margin-top: 7.5em;
  }

  article {
    margin-left: 19rem;
  }

  aside {
    height: calc(100vh - 7rem);
    padding: 0 0 7em .6em;
    display: block;
    position: fixed;
    overflow-y: auto;

    &[popover] {
      margin: auto 0 0 2em;
      padding-right: 4em;

      & button {
        display: none;
      }
    }
  }
}

@media (width >= 1300px) {
  article {
    max-width: 52vw;

    & + aside {
      width: 15rem;
      display: block;
      right: 2.5em;
    }
  }
}

.zen-switch {
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 90%;
  display: flex;
  position: absolute;
  bottom: 1em;

  & h5 {
    color: var(--gray-600);
    font-weight: 500;

    .zen & {
      visibility: hidden;
    }
  }
}

.zen {
  & main {
    margin-top: 1em;
  }

  & aside {
    height: calc(100vh - 2.2em);
  }

  & body > nav, & article + aside h3, & .toc, & > header {
    display: none;
  }
}
