@media (width <= 1000px) {
  aside:first-child {
    z-index: 1;
    width: 22em;
    max-width: 100%;
    height: 100vh;
    margin: 0;
    padding: 1em 2em 3em;
    font-size: 110%;
    transition: all .2s;
    overflow: auto;

    & nav {
      margin-bottom: 2em;
    }
  }
}

aside:first-child h3 {
  background: 0 no-repeat;
  padding-left: 1.7em;

  nav:first-child & {
    background-image: url("/icon/badge.svg");
  }

  nav:nth-child(2) & {
    background-image: url("/icon/swatch.svg");
  }

  nav:nth-child(3) & {
    background-image: url("/icon/rectangles.svg");
  }

  nav:nth-child(4) & {
    background-image: url("/icon/bolt.svg");
  }

  nav:nth-child(5) & {
    background-image: url("/icon/squares.svg");
  }

  nav:nth-child(6) & {
    background-image: url("/icon/document.svg");
  }
}
