
@layer components {
  .emoji {
    font-size: 3em;
    line-height: .75;
  }

  .post {
    background-color: var(--base-200);
    text-wrap: balance;
    padding: .5em 1em;
    border-radius: 1em;
    max-width: 66%;
    p { color: var(--base-800); line-height: 1.33 }
  }

  .reply {
    text-align: right;
    .post {
      background-color: var(--main-500);
      margin-left: auto;
      text-align: left;
      p { color: white; }
    }
  }

  .thread {
    time {
      display: inline-block;
      margin: .25em .5em;
      font-size: .75em;
    }
  }
  .chat-form {
    display: flex;
    position: relative;

    button {
      position: absolute;
      right: 1em;
      top: 1em;
    }

    textarea {
      resize: none;
    }
  }
}

