
@layer components {
  .list-item {
    border-radius: .25em;
    margin-inline: 1px;
    color: unset;

    /* Shared user-header styles */
    .user-header {
      font-size: .875em;
      figure { width: 2.75em }
    }

    /* Shared message styles */
    .message {
      color: var(--base-500);
      line-height: 1.5;
      font-weight: 400;
    }

    &:hover {
      background-color: var(--base-50);
    }

    &[aria-selected] {
      outline: 1px solid var(--base-200);
      background-color: var(--base-50);
      pointer-events: none;
    }
  }
}