@layer components {
  .list-view {
    container-type: size;
  }

  .list-view .list-item {
    display: grid;
    grid-template-columns: minmax(14em, auto) minmax(20em, 1fr) auto auto auto;
    grid-template-areas: "header message type meta time";
    align-items: center;
    padding: .5em 1em;
    gap: 1em;
    margin-bottom: .5em;

    aside {
      display: contents;
      small { grid-area: type; display: none; }
      time {
        grid-area: time;
        text-align: right;
      }
    }

    .message {
      grid-area: message;
      padding-right: 5vw;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    @container (width < 900px) {
      .meta { display: none; }
    }

    @container (width < 650px) {
      align-items: flex-start;
      grid-template-columns: minmax(150px, auto) 1fr;
      grid-template-areas: "header time" "message message";
      gap: .5em;
      margin-bottom: 1.5em;

      .message {
        border-left: 3px solid var(--base-300);
        padding-left: .75em;
        margin-left: 1em;
        padding-right: 0;
      }
    }
  }
}