
@layer components {  

  .media-thumbs {
    display: flex;
    gap: .75em;
    flex-wrap: wrap;
    margin-block: 1em;
    li { width: calc(50% - .375em) }
  }

  .media-overlay {

    aside { text-align: center }

    ul { display: inline-flex }

    li { max-width: 10em }

    img { border-radius: .25em }
  }
}