@layer components {
  .panel {
    border: 1px solid transparent;
    height: calc(100vh - 2em);
    flex-direction: column;
    padding: 0 .75em;
    display: flex;

    > header {
      align-items: center;
      padding: .75em .5em;
      display: flex;

      small {
        font-weight: 450;
        margin-right: 1em;
      }

      nav {
        margin-left: auto;
        align-items: center;
        display: inline-flex;
        gap: .5em;
      }

      hr {
        height: 1em;
        border-color: var(--base-200);
        border-width: 0 1px 0 0;
        margin: 0 .5em;
        width: 1px;
      }

      &:has(nav) {
        border-bottom: 1px solid var(--alpha-100);
        margin-bottom: 1em;
      }
    }

    .subheader {
      margin-bottom: 1.5em;
    }

    > section {
      padding: 2px;
      overflow: auto;
      flex-grow: 1;
    }
  }
}

