
@layer components {
  .user-header {
    align-items: center;
    display: flex;
    gap: .75em;

    figure {
      width: 3.5em;
      img { border-radius: .25em }
    }
  }

  dl {
    display: grid;
    grid-template-columns: 10em 1fr;
    margin-block: 1em;
    > * { margin: .25em 0 }

    dt { font-weight: 510 }

    dd { color: var(--base-600) }

    a  { color: var(--main-500) }
  }

}

