body {
  background-image: url("/home/img/bg-animation.svg");
  background-repeat: no-repeat;
  background-size: 100% 600px;
}

.hero {
  max-width: 800px;
  height: 450px;
  margin: 0 auto;

  & a {
    margin: 0 .3em;
    font-size: 105%;
  }
}

body > header {
  margin-bottom: calc(5rem + 8vw);

  & a {
    color: rgba(255, 255, 255, .733);

    &:hover {
      color: #fff;
    }
  }

  & img {
    filter: brightness(100);
  }

  & hr {
    border-color: rgba(255, 255, 255, .2);
  }

  & [popovertarget] {
    filter: invert();

    &:hover {
      background-color: rgba(153, 153, 153, .6);
    }
  }

  & .badge {
    &.status {
      color: #fff;
      background-color: rgba(0, 45, 70, .7);
      border-color: rgba(0, 0, 0, 0);
    }

    &.github {
      background-color: var(--purple);
      background-image: url("/icon/github-white.svg");
      border-color: rgba(0, 0, 0, 0);

      & em {
        color: rgba(255, 255, 255, .8);
        background-color: rgba(0, 0, 0, .267);
      }
    }
  }
}

@media (width >= 1200px) {
  body {
    background-size: 100% 100vh;
  }

  .hero {
    height: calc(100vh - 10em);
  }
}

main {
  text-align: center;
  text-wrap: balance;
  max-width: 1150px;
  margin: 0 auto;
}

.herobox {
  text-align: left;
  background-color: #111;
  border-radius: 1em;
  gap: 3em;
  margin-bottom: 5em;
  padding: calc(1.5em + 5vw);
  display: flex;

  & h2 {
    color: #fff;
  }

  & p {
    color: var(--gray-200);
    font-size: 1.2em;
    line-height: 1.4;
  }

  & > * {
    flex: 1;
  }

  @media (width <= 900px) {
    & {
      flex-direction: column;
      gap: .5em;
    }
  }
}
