.cpu {
  width: 1000px;
  margin: 0 -50% -4px;

  @media (width <= 800px) {
    & {
      width: 700px;
      margin-block: -2.3em;
    }
  }
}

.anim {
  stroke-dashoffset: 80px;
  stroke-dasharray: 80 4000;
  stroke: #00c2ff;
  stroke-width: 3px;
  animation: 3s linear infinite dash;
}

.anim1 {
  animation-delay: 0;
  animation-duration: 10s;
}

.anim2 {
  stroke: var(--purple);
  opacity: .5;
  animation-delay: .5s;
}

.anim3 {
  animation-delay: 1s;
}

.anim4 {
  animation-delay: 2.5s;
}

.anim5 {
  animation-duration: 5s;
  animation-delay: 1.5s;
}

.anim6 {
  stroke: var(--purple);
  opacity: .5;
  animation-delay: 2s;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 4000px;
  }
}

.grid .card {
  opacity: 0;
  will-change: opacity;
  transition: opacity 1s;

  .in-viewport & {
    opacity: 1;
  }

  &:first-child {
    transition-delay: .1s;
  }

  &:nth-child(2) {
    transition-delay: .2s;
  }

  &:nth-child(3) {
    transition-delay: .3s;
  }

  &:nth-child(4) {
    transition-delay: .6s;
  }

  &:nth-child(5) {
    transition-delay: .7s;
  }

  &:nth-child(6) {
    transition-delay: .8s;
  }
}

.card {
  text-align: left;
  padding: 2.5em;

  & img {
    margin: 2em 0;
    display: block;
  }
}

.dx {
  margin: 0 0 calc(4em + 5vw);

  & > :first-child {
    & img {
      border-radius: 7px;
    }
  }

  @media (width >= 1200px) {
    & > :nth-child(4) {
      grid-area: 2 / 1 / 3 / 3;

      & img {
        float: right;
        width: 420px;
        margin: 0 0 0 2em;
      }
    }
  }

  & > :nth-child(5) {
    background-image: url("/home/img/black-bg.jpg");
    background-size: cover;

    & h3 {
      color: var(--gray-200);
    }

    & p {
      color: var(--gray-600);
    }
  }
}

.ux {
  margin-top: 4em;

  & img {
    margin-bottom: 0;
  }

  & > :first-child {
    background-image: linear-gradient(110deg, #008ff5, #68c1ff);
    padding-bottom: 0;
    padding-right: 0;
    overflow: hidden;

    & h3 {
      color: #fff;
    }

    & p {
      color: var(--gray-200);
    }

    & img {
      border-radius: .5em 0 0;
      box-shadow: -.5em -.5em 1em rgba(0, 0, 0, .15);
    }
  }
}

.nue-status, .love {
  text-align: left;
  max-width: 700px;
  margin-bottom: 5em;
}

.hero-quote {
  gap: 2em;
  margin-top: 2em;
  display: flex;

  & p {
    margin-top: -.3em;
  }

  & img {
    border-radius: 4px;
    min-width: 100px;
    max-width: 100px;
  }

  @media (width <= 700px) {
    & {
      display: block;
    }

    & img {
      float: right;
      margin-left: 2em;
    }
  }
}

.quotes {
  column-width: 17em;
  column-gap: 1.5em;
  padding: 0;
  list-style: none;

  & .card {
    break-inside: avoid;
    background: url("/icon/ycombinator.svg") right 1em top 1.3em / 1.4em no-repeat;
    margin-bottom: 1.5em;
    padding: 1.5em;
  }

  & .from-x {
    background-image: url("/icon/x.svg");
  }

  & .from-feedback {
    background-image: url("/icon/feedback.svg");
  }

  & .from-gh {
    background-image: url("/icon/github.svg");
  }

  & .from-reddit {
    background-image: url("/icon/reddit.svg");
  }

  & .from-lobster {
    background-image: url("/icon/lobsters.png");
  }
}
