

@layer component {

  .logo {
    font-weight: 550;
    b { color: var(--red) }
    &:hover { color: black }
  }


  .toast {
    background-color: var(--base-800);
    padding: .5em 1em;
    position: fixed;
    bottom: 1em;
    right: 1em;
    p { color: var(--base-200); margin: 0 }
  }
}



