
@layer base {

  .breadcrumb {
    display: flex;
    font-weight: 500;
    margin-block: 1em;
    cursor: pointer;

    b {
      font-weight: normal;
      font-size: 1.25em;
      margin-right: .25em;
      line-height: 1;
      opacity: .5;
    }
  }

  .toc [aria-current] {
    border-bottom: 1px solid currentColor;
    padding-bottom: .125em;
    font-weight: 500;
    color: inherit;
  }

  /* layout */

  @media (width <= 900px) {
    body > header {
      margin-bottom: 2em;
    }

    body:has(#toc-toggle:checked) {
      overflow-y: clip;
    }

    label:not(:has(#toc-toggle:checked)) ~ .toc {
      display: none;
    }

    .toc {
      border-top: 1px solid var(--border);
      background-color: var(--bgcolor);
      height: calc(100vh - 7.5em);
      padding-inline: 1.75em;;
      position: absolute;
      overflow: auto;
      width: 100%;
      left: 0;
    }
  }

  @media (width > 900px) {
    .breadcrumb {
      display: none;
    }

    main {
      display: grid;
      grid-template-columns: 13em 1fr;
      gap: 3em;
    }

    aside {
      border-right: 1px solid var(--border);
      align-self: flex-start;
      position: sticky;
      overflow-y: auto;
      max-height: 95vh;
      top: 0;

    }
  }

  aside nav {
    margin-bottom: 3em;
  }


  /* doc typography */
  article {
    p, li {
      max-width: 45em;
      text-wrap: pretty;
    }

    h2, h3 {
      margin-block: 3em .75em;

      em {
        font-style: normal;
        font-weight: 650;
        color: #4762F4;
      }

      /* anchor links */
      a {
        text-decoration: none;
        opacity: .33;

        &:before {
          content: "#";
          margin-right: .25em;
        }

        &:hover {
          opacity: 1;
          color: blue;
        }
      }
    }
  }

  /* doc specific components */
  .note {
    background-color: #f5f5f5;
    padding: 1em 1.5em;
    margin-block: 2em;
    > * { margin-block: .25em }
  }

}
