
.live-code {
  --glow-special-color: #d946ef;

  background: linear-gradient(#d946ef, #c084fc);
  padding: 2em 0 0 3em;
  border-radius: .5em;
  code { color: #786951 }
  b { color: #e29439 }
  em { color: #2aa1ff }

  pre {
    background-image: linear-gradient(335deg, #ddd, #fff 40%);
    box-shadow: 1px 1px 2px inset #666;
    padding: 3em 2em;
    border: 0;
    border-radius: 1em 0 .5em 0;
  }

  mark {
    background-color: #F9E9EF;
    border-right: 2px solid #d946ef;
    border-radius: .3em 0 0 .3em;
    position: relative;

    &:after {
      background: #d946ef url(/img/emma-round.png) .5em 50% no-repeat;
      background-size: 1.4em;
      font-family: sf pro display;
      box-shadow: 1px 1px 4px #ccc;
      position: absolute;
      content: "Caroline";
      padding: .1em .6em .1em 2.3em;
      border-radius: .3em;
      border-bottom-left-radius: 0;
      color: white;
      font-style: normal;
      font-weight: 500;
      font-size: 90%;
      left: 100%;
      top: -1.9em;
    }
  }

  span:nth-child(3) mark {
    background-color: #FAEAE1;
    border-color: #EE8351;

    &:after {
      background-image: url(/img/john-round.png);
      background-color: #EE8351;
      content: "Dave";
    }
  }

  @media (max-width: 500px) {
    overflow-x: auto;
    padding: .5em;
    [glow] { border-radius: .5em; }
  }

}
