
@layer base {

  *, *:before, *:after {
    box-sizing: border-box;
  }

  body {
    line-height: 1.5;
    font-family: system-ui;
    font-size: 14px;
    max-width: 1000px;
    margin: 1em auto;
    padding: 1em;
  }

  h1 {
    font-size: 1.5em;
  }

  strong {
    font-weight: 550;
  }

  table {
    width: 100%;
    td {
      border-bottom: 1px solid var(--border);
      padding: .5em 0;
    }
  }

  dl {
    display: grid;
    grid-template-columns:25% 1fr;
    > * { margin: .25em 0 }
    dt { font-weight: 500 }
    p:first-child { margin-top: 0 }
  }

  .status {
    text-transform: capitalize;
    font-weight: 500;

    &:before {
      content: '';
      display: inline-block;
      border-radius: 50%;
      margin-right: 6px;
      height: 8px;
      width: 8px;
    }

    &.active:before { background: #00db1c; }

    &.pending:before {background: #ffdc00; }

    &.inactive {
      filter: grayscale(1);
      font-weight: 400;
      opacity: .5;
    }
  }

}