
/* layer order */
@layer settings, elements, components, containers, adjustments, overrides, hacks;


@layer settings {
  *, *::before, *::after {
    box-sizing: border-box
  }

  body {
    font-family: system-ui;
    font-size: var(--m);
    margin: 0;
  }
}

@layer elements {
  img {
    max-width: 100%;
  }

  svg {
    display: inline-block;
    vertical-align: middle;
  }

  dialog {
    padding: 1em 1.5em;
    border-radius: .5em;
    box-shadow: 0 0 2em var(--alpha-300);
    border: 0;

    &::backdrop {
      background: rgb(190 190 190 / 50%);
    }
  }
}

@layer components {
  .icon {
    width: 1.25em;
    height: 1.25em;
    stroke-width: 1.5;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
  }
}

@layer adjustments {
  [hidden] {
    display: none
  }
}

