
@layer design {

  :root {
    --bgcolor: #111;
    --border: #333;
  }

  body {
    color: #bbb;
  }

  input, textarea {
    border-color: #333;
  }

  button {
    border-radius: .5em;
  }

  a {
    color: white;
  }

  nav a {
    color: #999;
  }

  h1, strong, h2, h3, h4 {
    color: white;
  }

  .hero {
    text-align: center;

    h1 {
      font-size: 10em;
      text-transform: uppercase;
      font-weight: 900;
      text-align: center;
      letter-spacing: -.03em;
      margin: 0 0 -.1em;
      + p {
        font-size: 2em;
        color: white;
      }
    }

    button {
      padding: .75em 2em;
      font-weight: 500;
    }
  }

  .note {
    background-color: #171717;
  }

}
