
@layer design {
  .toc {
    font-size: 14.5px;

    p {
      margin-block: .5em;
    }
  }

  article {
    font-size: 95%;

    h2 {
      font-weight: 600;
    }

    p, li {
      color: #646e78;
    }
  }
}