
@layer components {
  .bar-chart {
    justify-content: space-around;
    align-items: flex-end;
    gap: var(--gap, 1px);
    display: flex;
    height: 3em;

    > * {
      height: calc(var(--height) * 1%);
      border-radius: 2px 2px 0 0;
      background: var(--base-300);
      min-width: 1px;
      flex: 1;
    }
  }
}