
button, [role="button"], .button {
  background-color: var(--main-500);
  display: inline-block;
  border-radius: .3em;
  padding: .7em 1.2em;
  text-align: center;
  font-size: .95em;
  font-family: inherit;
  font-weight: 550;
  cursor: pointer;
  color: white;
  border: 0;

  + & {
    margin-left: .4em;
  }

  &:hover {
    background-color: var(--main-600);
    text-decoration: none;
    color: white;
  }

  &:active { transform: scale(.98) }

  &.secondary {
    box-shadow: 0 0 0 1px var(--gray-200);
    background-color: white;
    color: inherit;

    &:hover {
      box-shadow: 0 0 0 1px var(--gray-300);
      background-color: white;
      color: var(--gray-900);
    }
  }

  &[popovertarget] {
    background-color: var(--gray-50);
    background-repeat: no-repeat;

    &:hover {
      background-color: var(--gray-100);
    }
  }
}