
:root {
  accent-color: var(--main-500)
}

::placeholder {
  color: var(--gray-400)
}

:focus-visible {
  outline: 2px solid var(--main-500);
  outline-offset: 1px
}

form {
  max-width: 23em;
  margin: 2em 0;
}

input, textarea, select {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  width: 100%;
  padding: .8em 1.2em;
  border: 1px solid var(--gray-200);
  transition: outline-width .1s;
  background-color: transparent;
  border-radius: 4px;

  &:focus {
    border-color: var(--main-400)
  }
}

textarea {
  margin: .6em 0;
  resize: none;
  height: 6em;
}

[type=checkbox], [type=radio] {
  width: inherit;
  padding: 0;
}

[type=email] {
  background: url(/img/email.svg) no-repeat;
  background-position: 95% 55%;
  background-size: 1.1em;
}
