h1 {
  color: var(--gray-50);
  font-size: calc(2em + 2.5vw);
  letter-spacing: -.02em;
  font-weight: 900;
  line-height: 1;
  margin: 0;

  + p {
    color: rgba(255,255,255, 0.8);
    font-size: calc(1.2em + .7vw);
    color: var(--gray-300);
    font-weight: 300;
    line-height: 1.3;
  }
}



h2 {
  font-size: calc(1.15em + 1vw);
  letter-spacing: -.02em;
  margin-bottom: 0;
  line-height: 1.1;

  + p {
    font-size: 110%;
    margin-top: .5em;
  }
}

h3 {
  margin-bottom: -.5em;
}

p {
  color: var(--gray-700);
  line-height: 1.5;
  font-size: 95%;

  em {
    color: var(--gray-950);
    font-style: normal;
    font-weight: 500;
  }
}