:root {
  --glow-bg-color: #20293A;
  --glow-padding: 1.5em;
}

[glow] {
  background-color: var(--glow-bg-color);
  border-radius: .5em;
  padding: 1.5em;
  font-size: .9rem;
  overflow-x: auto;

  &.small {
    font-size: 85%;
  }

  article > & {
    margin: 2em 0;
  }
}


[language="sh"] {
  font-weight: 600;
  color: var(--main-600);
}


.gradient {
  background-image: linear-gradient(to bottom, #e879f9, #ec4899);
  padding: 3em 0 0 3em;
  border-radius: .5em;
  overflow: hidden;
  margin: 1.5em 0 2em;
  pre {
    padding: 2em;
    margin: 0;
  }

  > * {
    border-radius: .5em 0 0 0;
  }

  &.sky {
    background-image: linear-gradient(to bottom, #0ea5e9, #67e8f9);
  }

  &.waves {
    background: url(/img/waves.webp) -50% no-repeat;
    background-size: 100%;
  }

  @media (max-width: 500px) {
    overflow: hidden;
    padding: 1em;

    [glow] {
      padding: 1em;
      --glow-padding: 1em;
    }
  }
}


