
.tabs {
  position: relative;
  display: flex;
  height: 150px;
  gap: 1.5em;

  /* tabs */
  /* increase specificity */
  && details {
    border: none;
  }

  summary {
    font-weight: 550;
    &::marker { font-size: 0 }
    &:hover { color: var(--main-600) }
  }

  /* tab panes */
  div {
    inset: 5em 0 0 1.5em;
    position: absolute;
  }

  /* active tab */
  [open] summary {
    pointer-events: none;
    text-decoration: 3px underline var(--main-500);
    text-underline-offset: 10px;
  }
}
