

/* technical / blog content */
h1 {
  font-size: 2em;
  font-weight: 800;
  text-wrap: balance;
  max-width: 18em;
  letter-spacing: -.025em;
  margin-bottom: .3em;

  + p {
    max-width: 43em;
    text-wrap: balance;
    margin: 0 0 1.5em;
    font-size: 105%;
  }

}


table {
  border-collapse: collapse;
  color: var(--gray-700);
  font-size: 90%;
  margin: 3em 0;
  width: 100%;

  th, td {
    padding: .6em 1em .6em 0;
  }

  th, td:first-child {
    color: var(--gray-900);
    font-weight: 550;
  }

  th {
    border-bottom: 1px solid var(--gray-300);
    text-align: left;
  }
}

article {
  font-size: 105%;

  p, li {
    line-height: 1.75;
    color: var(--gray-700);
  }


  strong {
    font-weight: 600;
    color: var(--gray-950);
  }

  p > a, li > a {
    text-decoration: underline var(--main-500) 1px;
    color: var(--gray-950);

    &:hover {
      color: var(--gray-950);
      text-decoration-thickness: 2px;
      text-decoration-color: var(--main-400);
    }
  }

  /* external links */
  a[href*="//"] {
    color: var(--gray-800);
    text-decoration-color: var(--main-200);
    font-weight: 450;
  }

  p > code, li > code {
    font-weight: 600;
    font-size: 110%;
    color: var(--gray-950);

    &:before, &:after {
      color: var(--main-400);
      content: "`";
    }
  }

  h2 {
    font-size: 1.25em;
  }

  h3, h4 {
    font-size: 1.1em;
    font-weight: 550;
  }

  h4 {
    font-size: 1em;
  }

  h2, h3, h4 {
    margin: 3em 0 0;
  }



  ul {
    padding-left: .9em;
  }

  ol {
    padding-left: 1.1em;
  }

  li {
    padding: 0 0 0 .6em;

    &::marker {
      color: var(--gray-400);
      font-weight: bold;
      font-size: 95%;
    }
  }

  figcaption {
    color: var(--gray-600);
    margin: .7em 0 0 0;
    font-size: 80%;
    text-align: center;
  }

  /* images */
  > picture img {
    margin: 1em 0;
  }

  > figure {
    margin: 2em 0 3em;
  }

  figure > a {
    display: block;

    img:hover {
      box-shadow: 0 0 0 2px white, 0 0 0 4px var(--main-500);
      border-radius: 4px;
    }
  }


  blockquote {
    margin: 2em 0 3em;

    p {
      border-left: .15em solid var(--main-400);
      padding-left: .75em;
      font-size: 115%;
      font-weight: 600;
      line-height: 1.45;
      text-wrap: balance;
      color: black;
    }
    em {
      color: var(--gray-600);
      font-weight: 500;
      margin-top: .5em;
      display: block;
      font-size: .95rem;
      font-style: normal;
      position: absolute;
      &:before {
        content: '— ';
      }
    }
  }

}

p del {
  text-decoration: none;
  background-color: var(--yellow);
  font-weight: 550;
  padding: .2em;
  color: black;
}

/* permlinks */
h2[id], section > h3[id] {
  position: relative;

  a {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;

    &:before {
      border: var(--border);
      border-radius: .4em;
      padding: .1em .4em;
      position: relative;
      font-size: 80%;
      left: -2.2em;
      top: -.1em;
      content: "#";
      display: none;
    }

    @media(width > 800) {
      &:hover:before {
        display: inline;
      }
    }
  }
}

.floating {
  float: right;
  margin: 0 0 2em 2em;
}