
/*
<label class="toggle">
  <input type="checkbox">
</label>
*/
.toggle {
  background-color: var(--gray-200);
  transition: background-color .2s;
  display: inline-block;
  border-radius: 9em;
  cursor: pointer;
  height: 1.6em;
  width: 3.2em;


  input {
    background-color: white;
    transition: width .3s;
    appearance: none;
    border-radius: 1em;
    outline: none;
    height: 1.2em;
    width: 1.2em;
    margin: .2em;
    border: 0;
  }

  :checked {
    background-color: white;
    float: right
  }

  &:active input {
    width: 2em
  }

  &:hover {
    background-color: var(--gray-300);
  }

  &:has(:checked) {
    background-color: var(--main-500);
  }

  @supports not selector(:has(*)) {
    :checked {
      background-color: var(--main-500);
    }
  }
}