
.video {
  border-radius: 4px;
  position: relative;
  display: block;
  margin: 1.5em 0;
  
  video {
    border: var(--border);
    border-radius: 4px;
    max-width: 100%;
    min-width: 100%;
  }

  figcaption {
    margin-top: .5em;
    line-height: 1.6;
    text-wrap: balance;
    color: var(--gray-600);
    max-width: 35em;
  }
}
  
.play {

  background: rgba(0,0,0, .7) url(/icon/play.svg) 57% 50% no-repeat;
  transform: translate(-50%, -50%);
  border: 3px solid white;
  background-size: 50%;
  border-radius: 99em;
  position: absolute;
  cursor: pointer;
  height: 4.2em;
  width: 4.2em;
  left: 50%;
  top: 45%;

  &:hover {
    background-color: #0009;
  }

  &:active {
    box-shadow: 0 0 1em black inset;
    top: 45.2%;
  }

  .playing & {
    display: none
  }
}
