
.demo {

  h3 {
    margin: 1em 0;
  }

  figcaption {
    margin-top: 1em
  }

  img {
    width: 8em;
    box-shadow: 0 0 4px var(--gray-200);
  }

  [type=number] {
    margin-right: 1em;
    width: 5em;
  }
}
