
@layer containers {
  .ui {
    font-size: 14px;
    line-height: 1.25;
    color: var(--base-700);

    p {
      margin: .25em 0;
      color: var(--base-500);
    }

    h1, h2, h3, h4, h5, figure { margin: 0 }

    h1 {
      font-size: 1.5em;
      font-weight: 600;
      letter-spacing: -.025em;
    }

    h2 {
      font-size: 1.25em;
      font-weight: 550;
    }

    /* with possible icon prefix */
    :is(h1, h2, h3):has(img, svg) {
      align-items: center;
      display: flex;
      gap: .25em;
    }

    h3 {
      font-size: 1em;
      font-weight: 500;
    }

    h4 {
      font-size: 1em;
      font-weight: 500;
    }

    a {
      text-decoration: none;
      font-weight: 470;
    }

    h5, small, time {
      font-size: .875em
    }

    ul {
      padding: 0;
      list-style: none;
    }

    small, time {
      color: var(--base-400)
    }
  }
}