
/*
  For

  1. islands, forms, global headers & footers
  2. sinle-page applications
*/

.ui {
  color: var(--base-700);
  font-size: var(--ui);
  line-height: 1.25;

  figure, h1, h2, h3, h4, h5 { margin: 0 }

  [hidden] { display: none }

  svg {
    display: inline-block;
    vertical-align: middle;
  }

  .icon {
    width: 1.25em;
    height: 1.25em;
    stroke-width: 1.5;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
  }

  p {
    margin: .25em 0;
    color: var(--base-500);
  }

  h1 {
    font-size: 2em;
    font-weight: 600;
    letter-spacing: -.025em;
  }

  h2 {
    font-size: 1.5em;
    font-weight: 550;
  }

  /* with possible icon prefix */
  h1, h2, h3 {
    align-items: center;
    display: flex;
    gap: .25em;
  }

  h3 {
    font-size: 1em;
    font-weight: 500;
  }

  h4 {
    font-size: 1em;
    font-weight: 500;
  }

  a {
    text-decoration: none;
    font-weight: 470;
  }

  h5, small, time {
    font-size: .875em
  }

  ul {
    padding: 0;
    list-style: none;
  }

  small, time {
    color: var(--base-400);
  }


}