
/* example light mode */

pre {
  --glow-bg-color: #f9f9f9;
  --glow-base-color: #555;

  /* brand coloring */
  --glow-primary-color: #0068d6;
  --glow-secondary-color: #bd2864;
  --glow-accent-color: #456aff;

  /* rare case. make it "pop" */
  --glow-special-color: #7820bc;

  /* shades of gray */
  --glow-char-color: #8e989c;
  --glow-comment-color: #9aa1a3;
  --glow-counter-color: #bbb;

  /* selection color */
  --glow-marked-color: #51c6fe29;
}