
@layer base {
  pre {
    color: #aaa;

    /* primary accent color */
    b { color: #ff3aa1 }

    /* secondary accent color */
    em { color: #4065ff }

    /* special emphasis */
    strong, label { color: #419fff }

    /* brackets, commas, semicolons... */
    i { color: #ccc }

    /* comments */
    sup {
      color: #888;
      vertical-align: inherit;
      font-size: inherit;
    }

    /* marked segments */
    mark {
      background-color: #2bb8ff47;
      border-radius: .2em;
      padding: .125em .25em;
      margin-inline: -.25em;
      color: inherit;
    }

    /* line numbers */
    counter-reset: line-number 0;

    span {
      counter-increment: line-number 1;

      &:before {
        opacity: .3;
        content: counter(line-number);
        display: inline-block;
        text-align: right;
        padding-right: 1em;
        margin-right: 1em;
        width: 2.5em;
      }
    }
  }

  code[language=sh] {
    color: #58c6d0;
    i { color: #888 }
  }

  pre:has([language=tree]) {
    color: #666;
    line-height: 1.25;
    b { color: #58c6d0 }
  }

  code[language=html] {
    i { color: #777 }
  }
}
