
body {
  font-family: system-ui;
  padding: 1em;
}

img {
  max-width: 100%;
}
.app {
  display: flex;
  gap: 3em;

  > :first-child { width: 12em }
  > main { flex: 1; }
  > :last-child { width: 30em }
}

nav {
  a {
    display: block;
    padding: .25em 0;
  }
}

.flex {
  display: flex;

  > div:last-child {
    margin-left: auto;
  }
}

dialog::backdrop {
  background: rgb(190 190 190 / 50%);
}