
button {

  /* layout */
  justify-content: space-around;
  display: inline-flex;
  align-items: center;
  font-family: inherit;
  font-size: .875em;

  .icon { width: 1.2em }

  /* dimensions */;
  padding: .25em .75em;
  gap: .25em;

  /* styling */
  box-shadow: 1px 1px 1px var(--alpha-200);
  border: 1px solid var(--base-300);
  border-radius: .25em;
  background-color: white;
  transition: .2s;
  color: var(--base-600);
  font-weight: 450;
  cursor: pointer;

  &.primary {
    border-color: var(--main-500);
    background-color: var(--main-500);
    color: white;
  }

  &:hover {
    border-color: var(--base-400);
    color: var(--base-900);
  }

  &:active {
    box-shadow: 0 0 2px var(--alpha-200) inset;
    border-color: var(--base-300);
  }

  &:disabled {
    pointer-events: none;
    opacity: .5;
  }
}