
*, *::before, *::after {
  box-sizing: border-box
}

:focus-visible {
  outline: .5px solid var(--base-500);
  transition: outline-width .1s;
  outline-offset: 1.5px
}

body {
  font-family: system-ui;
  background-color: var(--base-100);
  overflow: hidden;
  padding: 1em;
  margin: 0;
}

img {
  max-width: 100%;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

.icon {
  width: 1.25em;
  height: 1.25em;
  stroke-width: 1.5;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.logo {
  width: 1.75em;
}

.plan-free svg {
  color: var(--base-300);
}
.plan-pro svg {
  color: var(--blue-500);
}
.plan-enterprise svg {
  color: var(--green-500);
}

.size-s svg { color: var(--base-300) }
.size-m svg { color: var(--base-400) }
.size-l svg { color: var(--base-700) }
.size-xl svg { color: var(--base-950) }


dialog::backdrop {
  background: rgb(190 190 190 / 50%);
}