ul {
  padding: 0;
  margin: 0;
  list-style: none;
}


.items {
  container-type: size;

  .message {
    max-width: 30em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  a {
    display: flex;
    margin-block: 1em;
    transition: .025s;
    text-decoration: none;

    strong {
      color: black;
    }

    p {
      color: #666;
      font-size: .875em;
      margin: 0;
    }

    &:focus  {
      background-color: #eee;
      outline-color: #ccc;
    }

  }

  .cc {
    width: 1em;
    margin-right: .5em;
  }

  @container(width < 40em) {
    a { display: block }
    .tag { display: none }
    .message { white-space: unset }
  }

}
