
@layer design {
  .marketing {
    text-align: center;

    h1 {
      letter-spacing: -0.04em;
      font-size: 4.5em;
      line-height: 1;
      margin-block: .5em;
    }

    a:has(button) {
      margin-inline: .25em;
    }

    h2 {
      font-size: 2.25em;
      margin-top: 3em;
      letter-spacing: -0.02em;
      + p {
        font-size: 1.25em;
        max-width: 30em;
        text-wrap: balance;
        margin-inline: auto;
      }
    }
  }

  article > section {
    margin-bottom: 6em;
  }

  .centered {
    max-width: 40em;
    margin-inline: auto;
  }

  .descriptive {
    p { color: #666 }
    h2 { margin-block: 3em .5em }
  }
}