
.showroom {
  background-color: var(--gray-100);
  padding: 3%;
  left: 1em;
  max-height: calc(100vh - 2em);

  h2 {
    margin: 0;
    font-weight: 600;
    font-size: 1.7em;
    letter-spacing: -0.02em;
  }
  nav {
    margin-left: auto;
    gap: .5em;
  }

  .action {
    background-color: white;
    &:hover {
      box-shadow: 0 0 0 1px var(--gray-300);
      background-color: white;
    }
  }

  .stack {
    opacity: 1;

    &.seeking {
      transition: .3s;
      opacity: 0;
    }
  }

  figure {
    background-color: white;
    border-radius: 6px;
    border: var(--border);
    overflow: hidden;
    padding: 4%;

    &:hover {
      border-color: var(--gray-400);
    }
  }
  h3 {
    font-size: 1.1em;
    font-weight: 500;
    gap: .3em;
    .github {
      background: url(/icon/github.svg) 0 50% no-repeat;
      padding-left: 1.3em;
      background-size: 1em;
      margin-left: auto;
      margin-right: .5em;
      font-size: 1rem;

      &:hover {
        text-decoration: underline var(--gray-300);
      }
    }
  }


  @media (width > 800px) {
    overflow: hidden;
    figure {

    }
  }

}