
@layer base, component, modifier;

@layer base {

  :root {

    /* font */
    --font: helvetica neue, system-ui;
    --monospace: courier, monospace;

    /* radius */
    --radius-s: 2px;
    --radius-m: 3px;

    /* typographic grid */
    --s: .5rem;
    --m: 1.5rem;
    --l: 3rem;
    --xl: 4.5rem;
    --max-line-width: 45rem;

    /* apps and UI elements */
    --ui-sizing: 14.5px;
  }
}
