@layer base {

  .dark {
    background-color: #111;

    .logo {
      filter: invert(100);
    }

    h1, h2, h3 {
      color: var(--base-100);
    }

    strong, b {
      color: var(--base-300);
    }

    p, a, li {
      color: var(--base-400);
    }
  }
}