
@layer component {

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--cell-width, 250px), 1fr));
    margin-block: 1em;
    gap: 1em;

    &.grid-2 { --cell-width: 300px }
    &.grid-4 { --cell-width: 200px }
  }

  .flex {
    display: flex;
    gap: 1em;
    > * { flex: 1 }

    &.wrap {
      flex-wrap: wrap;
      > * { flex: 1 1 var(--cell-width, 200px) }
    }

    > .flex-2 { flex: 2 }
    > .flex-3 { flex: 3 }
    > .flex-4 { flex: 4 }
  }

  .stack {
    flex-direction: column;
    display: flex;
    gap: 1em;
  }

  .columns {
    column-count: var(--count, 2);
    margin-block: var(--l);
    column-gap: var(--s);
    div { break-inside: avoid }
  }
}